# Financial News Sentiment Analysis
Dataset taken from kaggle: [Financial News](https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news)

In [4]:
import pandas as pd
import numpy as np

In [7]:
import chardet
file = "FinancialNewsData.csv"
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [8]:
df = pd.read_csv("FinancialNewsData.csv", encoding='Windows-1252')

In [10]:
df.columns=['target', 'headline']

In [12]:
df

        target                                           headline
0      neutral  Technopolis plans to develop in stages an area...
1     negative  The international electronic industry company ...
2     positive  With the new production plant the company woul...
3     positive  According to the company 's updated strategy f...
4     positive  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...        ...                                                ...
4840  negative  LONDON MarketWatch -- Share prices ended lower...
4841   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4843  negative  Net sales of the Paper segment decreased to EU...
4844  negative  Sales in Finland decreased by 10.5 % in Januar...

[4845 rows x 2 columns]