In [1]:
import numpy as np
import pandas as pd

In [2]:
tuition_fees_dict = {
    "GASB" : [np.nan, 10000, 20000, np.nan, 10500, np.nan, np.nan],
    "FASB": [np.nan, np.nan, np.nan, 20750, np.nan, np.nan, 10000],
    "Public": [25000, np.nan, np.nan, np.nan, np.nan, np.nan, 10500],
}

In [3]:
df = pd.DataFrame(tuition_fees_dict)

In [4]:
df.reset_index(inplace=True)

In [5]:
df

   index     GASB     FASB   Public
0      0      NaN      NaN  25000.0
1      1  10000.0      NaN      NaN
2      2  20000.0      NaN      NaN
3      3      NaN  20750.0      NaN
4      4  10500.0      NaN      NaN
5      5      NaN      NaN      NaN
6      6      NaN  10000.0  10500.0

In [6]:

#test for overlaping numbers

#replace all numbers with 1

#sum across rows

In [7]:
#drop Na values
df_1 = df[["index","GASB"]].dropna()
df_2 = df[["index", "FASB"]].dropna()
df_3 = df[["index", "Public"]].dropna()

df_1.columns = ["index", "tuition_fees"]
df_2.columns = ["index", "tuition_fees"]
df_3.columns = ["index", "tuition_fees"]

#concatenate all dataframes
df_total = pd.concat([df_1,df_2,df_3])
#remove duplicate values
df_total.drop_duplicates(subset="index", inplace=True)
#df_total = df_total.merge(df_2, on="index", how="outer")

In [9]:
percentages = { 
    "Total_Revenue": [20000,50000, 25000, 75000, 15000],
    "Tuition_Fees": [.10, .30, .50, .40, .10],
    "Other_Revenue": [0.9, 0.7, 0.5, 0.6, 0.9]
}

In [10]:
percent_df = pd.DataFrame(percentages)

In [11]:
percent_df

   Total_Revenue  Tuition_Fees  Other_Revenue
0          20000           0.1            0.9
1          50000           0.3            0.7
2          25000           0.5            0.5
3          75000           0.4            0.6
4          15000           0.1            0.9

In [12]:
percent_df["Total_Revenue"] * percent_df["Tuition_Fees"]

0     2000.0
1    15000.0
2    12500.0
3    30000.0
4     1500.0
dtype: float64