In [2]:
import numpy as np
import pandas as pd

In [3]:
tuition_fees_dict = {
    "GASB" : [np.nan, 10000, 20000, np.nan, 10500, np.nan, np.nan],
    "FASB": [np.nan, np.nan, np.nan, 20750, np.nan, np.nan, 10000],
    "Public": [25000, np.nan, np.nan, np.nan, np.nan, np.nan, 10500],
}

In [4]:
df = pd.DataFrame(tuition_fees_dict)

In [5]:
df.reset_index(inplace=True)

In [6]:
df

   index     GASB     FASB   Public
0      0      NaN      NaN  25000.0
1      1  10000.0      NaN      NaN
2      2  20000.0      NaN      NaN
3      3      NaN  20750.0      NaN
4      4  10500.0      NaN      NaN
5      5      NaN      NaN      NaN
6      6      NaN  10000.0  10500.0

In [7]:

#test for overlaping numbers

#replace all numbers with 1

#sum across rows

In [8]:
#drop Na values
df_1 = df[["index","GASB"]].dropna()
df_2 = df[["index", "FASB"]].dropna()
df_3 = df[["index", "Public"]].dropna()

df_1.columns = ["index", "tuition_fees"]
df_2.columns = ["index", "tuition_fees"]
df_3.columns = ["index", "tuition_fees"]

#concatenate all dataframes
df_total = pd.concat([df_1,df_2,df_3])
#remove duplicate values
df_total.drop_duplicates(subset="index", inplace=True)
#df_total = df_total.merge(df_2, on="index", how="outer")

In [9]:
percentages = { 
    "Total_Revenue": [20000,50000, 25000, 75000, 15000],
    "Tuition_Fees": [.10, .30, .50, .40, .10],
    "Other_Revenue": [0.9, 0.7, 0.5, 0.6, 0.9]
}

In [10]:
percent_df = pd.DataFrame(percentages)

In [11]:
percent_df

   Total_Revenue  Tuition_Fees  Other_Revenue
0          20000           0.1            0.9
1          50000           0.3            0.7
2          25000           0.5            0.5
3          75000           0.4            0.6
4          15000           0.1            0.9

In [12]:
percent_df["Total_Revenue"] * percent_df["Tuition_Fees"]

0     2000.0
1    15000.0
2    12500.0
3    30000.0
4     1500.0
dtype: float64

### Comparing Distributions

In [19]:
np.random.uniform(low=0.0, high=1.0, size=100).std()

0.28731475526324307

In [20]:
from scipy.stats import ks_2samp

In [42]:
x = np.random.normal(0, 1, 1000)
y = np.random.normal(0, 1, 1000)
z = np.random.normal(1.1, 0.9, 1000)

In [43]:
ks_2samp(x, y, alternative='two-sided')

KstestResult(statistic=0.0026599999999999957, pvalue=0.8701361499165012)

In [35]:
ks_2samp(y, z, alternative='two-sided')

KstestResult(statistic=0.434, pvalue=0.0)

In [85]:
uniform = [100/6, 100/6, 100/6, 100/6, 100/6, 100/6]
data1 = np.array([0.01, 0, 0, 0, 0, 0.99])
data2 = np.array([0.1, 0.2, 0.3, 0.1, 0.2, 0.1])

In [86]:
data1.std()

0.36822396566341103

In [87]:
data2.std()

0.07453559924999299

In [88]:
ks_2samp(uniform, data1, mode='exact').pvalue

0.0021645021645021645

In [89]:
ks_2samp(uniform, data2, mode='exact')

KstestResult(statistic=1.0, pvalue=0.0021645021645021645)