### Import Modules

In [1]:
import scipy
import sklearn.metrics as metrics
import sklearn.preprocessing as pp
import sklearn.ensemble as ensemble
import sklearn.cluster as cluster
import sklearn.linear_model as linear_model

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

import sklearn.tree as tree

import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = 61

### Load the Data and view

In [3]:
schema = pd.read_csv("Data/Survey_results_schema.csv")

In [4]:
schema.set_index('Column', inplace=True)

In [5]:
schema.loc['NEWOtherComms'].QuestionText

'Are you a member of any other online developer communities?'

In [6]:
df = pd.read_csv("Data/Survey_results_public.csv")

In [7]:
df.set_index("Respondent", inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64461 entries, 1 to 65112
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    64162 non-null  object
 1   Hobbyist                      64416 non-null  object
 2   Age                           45446 non-null  float64
 3   Age1stCode                    57900 non-null  object
 4   CompFreq                      40069 non-null  object
 5   CompTotal                     34826 non-null  float64
 6   ConvertedComp                 34756 non-null  float64
 7   Country                       64072 non-null  object
 8   CurrencyDesc                  45472 non-null  object
 9   CurrencySymbol                45472 non-null  object
 10  DatabaseDesireNextYear        44070 non-null  object
 11  DatabaseWorkedWith            49537 non-null  object
 12  DevType                       49370 non-null  object
 13  EdLevel                       57431 non-null  object
 14  Employment                    63854 non-null  object
 15  Ethnicity                     45948 non-null  object
 16  Gender                        50557 non-null  object
 17  JobFactors                    49349 non-null  object
 18  JobSat                        45194 non-null  object
 19  JobSeek                       51727 non-null  object
 20  LanguageDesireNextYear        54113 non-null  object
 21  LanguageWorkedWith            57378 non-null  object
 22  MiscTechDesireNextYear        42379 non-null  object
 23  MiscTechWorkedWith            40314 non-null  object
 24  NEWCollabToolsDesireNextYear  47287 non-null  object
 25  NEWCollabToolsWorkedWith      52883 non-null  object
 26  NEWDevOps                     42686 non-null  object
 27  NEWDevOpsImpt                 41732 non-null  object
 28  NEWEdImpt                     48465 non-null  object
 29  NEWJobHunt                    42286 non-null  object
 30  NEWJobHuntResearch            41022 non-null  object
 31  NEWLearn                      56156 non-null  object
 32  NEWOffTopic                   50804 non-null  object
 33  NEWOnboardGood                42623 non-null  object
 34  NEWOtherComms                 57205 non-null  object
 35  NEWOvertime                   43231 non-null  object
 36  NEWPurchaseResearch           37321 non-null  object
 37  NEWPurpleLink                 54803 non-null  object
 38  NEWSOSites                    58275 non-null  object
 39  NEWStuck                      54983 non-null  object
 40  OpSys                         56228 non-null  object
 41  OrgSize                       44334 non-null  object
 42  PlatformDesireNextYear        50605 non-null  object
 43  PlatformWorkedWith            53843 non-null  object
 44  PurchaseWhat                  39364 non-null  object
 45  Sexuality                     43992 non-null  object
 46  SOAccount                     56805 non-null  object
 47  SOComm                        56476 non-null  object
 48  SOPartFreq                    46792 non-null  object
 49  SOVisitFreq                   56970 non-null  object
 50  SurveyEase                    51802 non-null  object
 51  SurveyLength                  51701 non-null  object
 52  Trans                         49345 non-null  object
 53  UndergradMajor                50995 non-null  object
 54  WebframeDesireNextYear        40024 non-null  object
 55  WebframeWorkedWith            42279 non-null  object
 56  WelcomeChange                 52683 non-null  object
 57  WorkWeekHrs                   41151 non-null  float64
 58  YearsCode                     57684 non-null  object
 59  YearsCodePro                  46349 non-null  object
dtypes: float64(4), object(56)
memory usage: 30.0+ MB

# Data Cleaning

In [9]:
# make hobbyist data frame; drop columns where hobbyists 
hobbyist_df = df.dropna(subset=["Hobbyist"])

In [10]:
#see numeric variables
hobbyist_df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [11]:
#convert string types that should be numeric to numeric types
to_numeric = ['Age1stCode', 'YearsCode', 'YearsCodePro']

In [12]:
#Warning with replace on one of my columns

In [13]:
hobbyist_df.replace({'Younger than 5 years' : '5', 'Older than 85': '85'}, inplace=True)

/Users/robertcampbell/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4379: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [14]:
hobbyist_df.replace({'Less than 1 year' : '0', 'More than 50 years': '50'}, inplace=True)

In [15]:
hobbyist_df.replace({'Less than 1 year' : '0', 'More than 50 years': '50'}, inplace=True)

## making Numeric columns

In [16]:
hobbyist_df.loc[:,"Age1stCode"] = pd.to_numeric(hobbyist_df.Age1stCode)

/Users/robertcampbell/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [17]:
hobbyist_df.loc[:,"YearsCode"] = pd.to_numeric(hobbyist_df.YearsCode)
hobbyist_df.loc[:,"YearsCodePro"] = pd.to_numeric(hobbyist_df.YearsCodePro)

In [18]:

hobbyist_df.WorkWeekHrs.apply(lambda x: x if x <= 150 else np.nan)

Respondent
1        50.0
2         NaN
3         NaN
4        40.0
5         NaN
         ...
64858     NaN
64867     NaN
64898     NaN
64925     NaN
65112     NaN
Name: WorkWeekHrs, Length: 64416, dtype: float64

In [19]:
#Create IsNa for all numeric columns

In [20]:
numeric_columns = hobbyist_df.select_dtypes(include=["int", "float"]).columns
numeric_columns

Index(['Age', 'Age1stCode', 'CompTotal', 'ConvertedComp', 'WorkWeekHrs',
       'YearsCode', 'YearsCodePro'],
      dtype='object')

In [21]:
hobbyist_df.WorkWeekHrs.isna()

Respondent
1        False
2         True
3         True
4        False
5         True
         ...
64858     True
64867     True
64898     True
64925     True
65112     True
Name: WorkWeekHrs, Length: 64416, dtype: bool

In [22]:
def create_isNa(columns, dFrame):
    for i in columns:
        label = i + "_isNaN"
        series = dFrame[i].isna()
        dFrame.loc[:,label] = series.apply(lambda x: 1 if x else 0)

In [23]:
create_isNa(numeric_columns, hobbyist_df)

/Users/robertcampbell/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

### Creating Dummy Variables out of Categorical Columns

In [24]:
cat_columns = hobbyist_df.select_dtypes(include=["object"]).columns
cat_columns

Index(['MainBranch', 'Hobbyist', 'CompFreq', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange'],
      dtype='object')

### Find categorical columns with more than X categories

In [25]:
def find_many_categories(columns, df, minimum, critical):
    
    #make dictionary with the usefull columns and the not usefull columns
    useful_columns = dict()
    not_useful_columns = dict()
    
    for i in columns:
        
        count = len(df[i].unique())
        if minimum:
            if count > critical:
                useful_columns[i] = count
            else:
                not_useful_columns[i] = count
                
                
        else:
            if count < critical:
                useful_columns[i] = count
            else:
                not_useful_columns[i] = count
    
    
    useful_df = df.loc[:,useful_columns.keys()]
    non_useful_df = df.loc[:,not_useful_columns.keys()]
        
    
    return (useful_df, non_useful_df)

In [26]:
hobbyist_ready_df, hobbyist_not_ready = find_many_categories(cat_columns, hobbyist_df, False, 8)
hobbyist_ready_df = find_many_categories(cat_columns, hobbyist_df, False, 8)[0]

In [27]:
hobbyist_df_ready = pd.concat([hobbyist_ready_df, hobbyist_df.select_dtypes(include=["int", "float"])], axis=1)

### Lets Get the variables in hobbyist_not_ready prepared for get_dummies method

In [71]:
hobbyist_not_ready.drop(columns=["CurrencyDesc", "CurrencySymbol"], inplace=True)

KeyError: "['CurrencyDesc' 'CurrencySymbol'] not found in axis"

In [78]:

list_cols = []
non_null = hobbyist_not_ready.dropna()

for i in hobbyist_not_ready.columns:
    pass
    #grab first nonNull entry
    if ";" in non_null.loc[10,i]:
        list_cols.append(i)

for i in list_cols:
    hobbyist_not_ready.loc[:,i] = hobbyist_not_ready[i].str.split(";")

dictionary = hobbyist_not_ready.to_dict()

def get_unique(diction: dict) -> list:
    unique_list = set()
    for i,v in diction.items():
        if type(v) == list:
            for j in v:
                unique_list.add(j)
        else:
            print("na")
    return list(unique_list)

#Loop through list of columns with ; dilimeter
unique_values_dict = dict()
for i in list_cols: 
    unique_values_dict[i] = get_unique(dictionary[i])
print("hidden cell")

hidden cell

In [69]:
len(unique_values_dict[list_cols[14]])

16

In [33]:
x = pd.get_dummies(hobbyist_df_ready.drop(columns="Hobbyist"), drop_first=True)
y = hobbyist_df_ready["Hobbyist"]

### Feature Selection to choose which Variables we want to explore

In [34]:
from sklearn.impute import SimpleImputer

In [35]:
# lets use select K best to find which features we want to choose
from sklearn.feature_selection import SelectKBest, chi2, f_classif
from sklearn.pipeline import make_pipeline

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [37]:
pipeline = make_pipeline(
    SimpleImputer(missing_values=np.nan, strategy='mean'),
    pp.StandardScaler())

In [38]:
x_new = pipeline.fit_transform(x_train)

/Users/robertcampbell/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/nanfunctions.py:1544: RuntimeWarning: overflow encountered in multiply
  sqr = np.multiply(arr, arr, out=arr)

In [39]:
x_new.shape

(48312, 83)

In [40]:
feature_selection = SelectKBest(f_classif, k=15)

In [41]:
x_feature_selection = feature_selection.fit(x_new, y_train)

/Users/robertcampbell/opt/anaconda3/lib/python3.8/site-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [2] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx,
/Users/robertcampbell/opt/anaconda3/lib/python3.8/site-packages/sklearn/feature_selection/_univariate_selection.py:116: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [42]:
transformed = feature_selection.transform(x_new)

In [43]:
K_best_list = list(x_feature_selection.scores_)
K_best_array = x_feature_selection.scores_
print(len(K_best_list))

83

In [44]:
#Make a data frame with the score in a column called s_classif

In [45]:
K_best_s = pd.Series(K_best_array)

In [46]:
cols = pd.Series(x.columns)

In [47]:
F_classif_df = pd.concat([cols,K_best_s], axis=1)

In [48]:
F_classif_df.columns = ['Column_name', 'f_score']

In [49]:
F_classif_df.sort_values(by="f_score", ascending=False).head(15)

                                   Column_name     f_score
1                                   Age1stCode  596.705294
43                           NEWOtherComms_Yes  519.760725
16      MainBranch_I code primarily as a hobby  516.763423
38               NEWLearn_Once every few years  515.260587
0                                          Age  258.039551
54  PurchaseWhat_I have little or no influence  209.474271
13                          YearsCodePro_isNaN  181.409808
51                           OpSys_Linux-based  169.308702
36                      NEWLearn_Once a decade  157.351017
57                               SOAccount_Yes  141.835533
61                      SOComm_Yes, definitely  110.738339
11                           WorkWeekHrs_isNaN  106.484356
53                               OpSys_Windows   74.586379
40                             NEWOffTopic_Yes   67.291232
9                              CompTotal_isNaN   60.679738

### EDA