In [1]:
import pandas as pd
import numpy as np

In [23]:
diction = {
    "A": np.linspace(0, 5, 7),
    "B": [0,0,1,0,0,0,1],
    "c": [1, 2, np.nan, 3, 4, 5, np.nan]
}

In [28]:
df = pd.DataFrame().from_dict(diction)

In [29]:
df

          A  B    c
0  0.000000  0  1.0
1  0.833333  0  2.0
2  1.666667  1  NaN
3  2.500000  0  3.0
4  3.333333  0  4.0
5  4.166667  0  5.0
6  5.000000  1  NaN

In [30]:
# I Want C to be B when its Na

In [22]:
df.c.mask(df.c.isnull(), lambda x: x * 2)

0   -10.000000
1    -6.666667
2    -6.666667
3     0.000000
4     3.333333
5     6.666667
6    20.000000
Name: B, dtype: float64

In [31]:
df.loc[df.c.isnull(), "c"] = df.loc[df.c.isnull(), "A"]

In [32]:
df

          A  B         c
0  0.000000  0  1.000000
1  0.833333  0  2.000000
2  1.666667  1  1.666667
3  2.500000  0  3.000000
4  3.333333  0  4.000000
5  4.166667  0  5.000000
6  5.000000  1  5.000000