In [1]:
import pandas as pd
import numpy as np

In [2]:
import re
import random
import copy

In [3]:
df_2018 = pd.read_csv("data/4_year/2018.csv")

In [4]:
df_2019 = pd.read_csv("data/4_year/2019.csv")

In [5]:
comparison = list(df_2018.columns == df_2019.columns)

In [6]:
differences = []
for i in range(len(comparison)):
    if comparison[i] == False:
        differences.append(i)
differences

[92, 94, 96, 103]

In [7]:
df_2019.columns[92]

'total_price_for_in-district_students_living_on_campus_2014-15'

In [8]:
df_2018.columns[103]

'two_or_more_races_women__instructional_staff'

In [9]:
df_2019 = df_2019.rename(columns=lambda x: re.sub(r'_(\d){4}-(\d){2}', '', x))

In [10]:
df_2018 = df_2018.rename(columns=lambda x: re.sub(r'_(\d){4}-(\d){2}', '', x))
df_2018 = df_2018.rename(columns=lambda x: re.sub(r'__', '_', x))

In [11]:
print(df_2019.shape)
print(df_2018.shape)

(2315, 107)
(2286, 107)

In [12]:
total_df = pd.concat([df_2018, df_2019])

In [13]:
# We are going to try to fill as many SAT scores as possible and as accurately as possible
total_df.filter(regex=("act.*percentile|sat.*percentile")).isna().sum()

act_composite_75th_percentile_score           2109
act_english_75th_percentile_score             2435
act_math_75th_percentile_score                2434
act_writing_75th_percentile_score             4048
sat_critical_reading_75th_percentile_score    2198
sat_math_75th_percentile_score                2171
sat_writing_75th_percentile_score             3143
dtype: int64

In [21]:
transposed = total_df.T

In [22]:
transposed.columns = transposed.loc["UnitID", :]

In [24]:
transposed.drop("UnitID", inplace=True)

In [27]:
check_integrity = list(transposed.isna().sum().sort_values().index[:5])

In [34]:
integrity_df = total_df.set_index("UnitID").loc[check_integrity, :].copy(deep=True)

In [35]:
integrity_df["act_composite_75th_percentile_score"]

UnitID
228769    25.0
228769    26.0
139755    32.0
139755    33.0
139959    30.0
139959    30.0
220862    25.0
220862    25.0
142115    25.0
142115    26.0
Name: act_composite_75th_percentile_score, dtype: float64

# Filling Test Scores

In [14]:
# define a variable called test_scores that holds column names of act and sat scores
test_scores = total_df.filter(regex=("act.*percentile|sat.*percentile")).columns

In [15]:
# sort my dataframe by
total_df.sort_values(["UnitID"], inplace=True)

In [16]:
id_group = total_df.groupby("UnitID")

In [17]:
# ffill and bfill is used to make sure if the observation above or below has a value it will fill
for i in test_scores:
    total_df[i] = id_group[i].transform(lambda group: group.ffill().bfill())

In [18]:
total_df.filter(regex=("act.*percentile|sat.*percentile")).isna().sum()

act_composite_75th_percentile_score           1924
act_english_75th_percentile_score             2242
act_math_75th_percentile_score                2238
act_writing_75th_percentile_score             3902
sat_critical_reading_75th_percentile_score    1984
sat_math_75th_percentile_score                1974
sat_writing_75th_percentile_score             2873
dtype: int64

In [19]:
# Horizontal Fill SAT Scores
sat_scores = total_df.filter(regex=("sat.*percentile")).columns.to_list()
act_scores = total_df.filter(regex=("act.*percentile")).columns.to_list()

In [20]:
total_df[sat_scores[0]].isna().sum()

1984

In [21]:
for i in sat_scores:
    others = copy.deepcopy(sat_scores)
    others.remove(i)
    for j in others:
        total_df[i] = total_df[i].combine_first(total_df[j])
        total_df[j] = total_df[j].combine_first(total_df[i])

In [22]:
for i in act_scores:
    others = copy.deepcopy(act_scores)
    others.remove(i)
    for j in others:
        total_df[i] = total_df[i].combine_first(total_df[j])
        total_df[j] = total_df[j].combine_first(total_df[i])

In [23]:
total_df.filter(regex=("act.*percentile|sat.*percentile")).isna().sum()

act_composite_75th_percentile_score           1916
act_english_75th_percentile_score             1916
act_math_75th_percentile_score                1916
act_writing_75th_percentile_score             1916
sat_critical_reading_75th_percentile_score    1972
sat_math_75th_percentile_score                1972
sat_writing_75th_percentile_score             1972
dtype: int64

## ACT to SAT Conversions

SAT to ACT conversion table taken from [The Princeton Review]("https://www.princetonreview.com/college-advice/act-to-sat-conversion")

In [24]:
# Create a conversion from act scores to SAT scores

In [25]:
ACT_SAT = pd.read_html("https://www.princetonreview.com/college-advice/act-to-sat-conversion")

In [26]:
act_sat = ACT_SAT[0]

In [28]:
act_sat.head()

    SAT  ACT  Unnamed: 2  SAT.1  ACT.1  Unnamed: 5  SAT.2  ACT.2
0  1600   36         NaN   1250     26         NaN    900     17
1  1590   35         NaN   1240     26         NaN    890     16
2  1580   35         NaN   1230     25         NaN    880     16
3  1570   35         NaN   1220     25         NaN    870     16
4  1560   35         NaN   1210     25         NaN    860     16

In [31]:
act_sat = act_sat.drop(["Unnamed: 2", "Unnamed: 5"], axis=1)

In [48]:
act_sat.head(30)

     SAT  ACT  SAT.1  ACT.1  SAT.2  ACT.2
0   1600   36   1250     26    900     17
1   1590   35   1240     26    890     16
2   1580   35   1230     25    880     16
3   1570   35   1220     25    870     16
4   1560   35   1210     25    860     16
5   1550   34   1200     25    850     15
6   1540   34   1190     24    840     15
7   1530   34   1180     24    830     15
8   1520   34   1170     24    820     15
9   1510   33   1160     24    810     15
10  1500   33   1150     23    800     14
11  1490   33   1140     23    790     14
12  1480   32   1130     23    780     14
13  1470   32   1120     22    770     14
14  1460   32   1110     22    760     14
15  1450   32   1100     22    750     13
16  1440   31   1090     21    740     13
17  1430   31   1080     21    730     13
18  1420   31   1070     21    720     13
19  1410   30   1060     21    710     12
20  1400   30   1050     20    700     12
21  1390   30   1040     20    690     12
22  1380   29   1030     20    680     12
23  1370   29   1020     20    670     12
24  1360   29   1010     19    660     12
25  1350   29   1000     19    650     12
26  1340   28    990     19    640     12
27  1330   28    980     19    630     12
28  1320   28    970     18    620     11
29  1310   28    960     18    610     11

In [65]:
def convert_to_act(x):
    if np.isnan(x):
        return np.nan
    
    x = int(x)
    if x < 630:
        return 11
    elif x < 720 / 20:
        return 12
    elif x < 760 / 2:
        return 13
    elif x < 810 / 2:
        return 14
    elif x < 860 / 2:
        return 15
    elif x < 900 / 2:
        return 16
    elif x < 940 / 2:
        return 17
    elif x < 960 / 2:
        return 18
    elif x < 1020 / 2:
        return 19
    elif x < 1060 / 2:
        return 20
    elif x < 1100 / 2:
        return 21
    elif x < 1130 / 2:
        return 22
    elif x < 1160 / 2:
        return 23
    elif x < 1200 / 2:
        return 24
    elif x < 1240 / 2:
        return 25
    elif x < 1280 / 2:
        return 26
    elif x < 1310 / 2:
        return 27
    elif x < 1350 / 2:
        return 28
    elif x < 1390 / 2:
        return 29
    elif x < 1420 / 2:
        return 30
    elif x < 1450 / 2:
        return 31
    elif x < 1490 / 2:
        return 32
    elif x < 1520 / 2:
        return 33
    elif x < 1560 / 2:
        return 34
    elif x < 1590 / 2:
        return 35
    elif x < 1600 / 2:
        return 36

In [66]:
def convert_to_sat(x):
    if np.isnan(x):
        return np.nan
    
    x = int(x)
    if x == 11:
        return 620 / 2
    elif x == 12:
        return 700 / 2
    elif x == 13:
        return 740 / 2
    elif x == 14:
        return 800 / 2
    elif x == 15:
        return 840 / 2
    elif x == 16:
        return 880 / 2
    elif x == 17:
        return 930 / 2
    elif x == 18:
        return 960 / 2
    elif x == 19:
        return 1000 / 2
    elif x == 20:
        return 1040 / 2
    elif x == 21:
        return 1090 / 2
    elif x == 22:
        return 1120 / 2
    elif x == 23:
        return 1150 / 2
    elif x == 24:
        return 1190 / 2
    elif x == 25:
        return 1230 / 2
    elif x == 26:
        return 1270 / 2
    elif x == 27:
        return 1280 / 2
    elif x == 28:
        return 1340 / 2
    elif x == 29:
        return 1380 / 2
    elif x == 30:
        return 1410 / 2
    elif x == 31:
        return 1440 / 2
    elif x == 32:
        return 1480 / 2
    elif x == 33:
        return 1510 / 2
    elif x == 34:
        return 1550 / 2
    elif x == 35:
        return 1580 / 2
    elif x == 36:
        return 1600 / 2

In [67]:
for i in act_scores:
    total_df[i] = total_df[i].combine_first(total_df[sat_scores[0]].apply(lambda x: convert_to_act(x)))

for i in sat_scores:
    total_df[i] = total_df[i].combine_first(total_df[act_scores[0]].apply(lambda x: convert_to_sat(x)))

In [57]:
sat_scores, act_scores

(['sat_critical_reading_75th_percentile_score',
  'sat_math_75th_percentile_score',
  'sat_writing_75th_percentile_score'],
 ['act_composite_75th_percentile_score',
  'act_english_75th_percentile_score',
  'act_math_75th_percentile_score',
  'act_writing_75th_percentile_score'])

In [68]:
total_df.filter(regex=("act.*percentile|sat.*percentile")).isna().sum()

act_composite_75th_percentile_score           1810
act_english_75th_percentile_score             1810
act_math_75th_percentile_score                1810
act_writing_75th_percentile_score             1810
sat_critical_reading_75th_percentile_score    1810
sat_math_75th_percentile_score                1810
sat_writing_75th_percentile_score             1810
dtype: int64

# Back fill and Sideways fill other Highly Null Columns

In [82]:
total_df.isna().sum().sort_values(ascending=False).head(50)

local_appropriations_as_a_percent_of_core_revenues                     3169
state_appropriations_as_percent_of_core_revenues                       3169
graduation_rate_native_hawaiian_or_other_pacific_islander              2755
total_men_age_25_and_over                                              2021
total_women_age_25_and_over                                            2021
grand_total_age_25_and_over                                            2021
total_men_age_25_and_under                                             2016
total_women_age_25_and_under                                           2016
grand_total_age_25_and_under                                           2016
transfer-out_rate_total_cohort                                         1909
sat_writing_75th_percentile_score                                      1810
sat_critical_reading_75th_percentile_score                             1810
act_writing_75th_percentile_score                                      1810
act_math_75th_percentile_score                                         1810
act_english_75th_percentile_score                                      1810
act_composite_75th_percentile_score                                    1810
sat_math_75th_percentile_score                                         1810
graduation_rate_american_indian_or_alaska_native                       1772
graduation_rate_nonresident_alien                                      1449
total_price_for_out-of-state_students_living_on_campus                 1268
total_price_for_in-state_students_living_on_campus                     1268
total_price_for_in-district_students_living_on_campus                  1268
graduation_rate_race/ethnicity_unknown                                 1216
graduation_rate_two_or_more_races                                      1162
graduation_rate_asian                                                  1067
graduation_rate_asian/native_hawaiian/other_pacific_islander            960
graduation_rate_black_non-hispanic                                      565
graduation_rate_hispanic                                                475
total_price_for_out-of-state_students_living_off_campus                 474
total_price_for_in-district_students_living_off_campus                  474
total_price_for_in-state_students_living_off_campus                     474
race/ethnicity_unknown_men_instructional_staff                          342
nonresident_alien_women_instructional_staff                             342
nonresident_alien_total_instructional_staff                             342
nonresident_alien_men_instructional_staff                               342
native_hawaiian_or_other_pacific_islander_women_instructional_staff     342
race/ethnicity_unknown_total_instructional_staff                        342
native_hawaiian_or_other_pacific_islander_men_instructional_staff       342
race/ethnicity_unknown_women_instructional_staff                        342
two_or_more_races_men_instructional_staff                               342
two_or_more_races_total_instructional_staff                             342
two_or_more_races_women_instructional_staff                             342
white_men_instructional_staff                                           342
white_total_instructional_staff                                         342
native_hawaiian_or_other_pacific_islander_total_instructional_staff     342
white_women_instructional_staff                                         342
hispanic_or_latino_total_instructional_staff                            342
asian_women_instructional_staff                                         342
black_or_african_american_women_instructional_staff                     342
american_indian_or_alaska_native_men_instructional_staff                342
dtype: int64

## Separate out target variables

## Negative Regular Expression matching

**^(?!\<pattern\>).**

In [99]:
x_cols = total_df.filter(regex="^(?!graduation_rate).").columns

In [101]:
total_df.loc[:, x_cols]

,UnitID,academic_support_expenses_as_a_percent_of_total_core_expenses,act_composite_75th_percentile_score,act_english_75th_percentile_score,act_math_75th_percentile_score,act_writing_75th_percentile_score,american_indian_or_alaska_native_men_instructional_staff,american_indian_or_alaska_native_total_instructional_staff,american_indian_or_alaska_native_women_instructional_staff,asian_men_instructional_staff,...,total_women_age_25_and_over,total_women_age_25_and_under,transfer-out_rate_total_cohort,tuition_and_fees_as_a_percent_of_core_revenues,two_or_more_races_men_instructional_staff,two_or_more_races_total_instructional_staff,two_or_more_races_women_instructional_staff,white_men_instructional_staff,white_total_instructional_staff,white_women_instructional_staff
0,100654,5.0,19.0,19.0,18.0,19.0,0.0,1.0,1.0,17.0,...,NaN,NaN,42.0,30.0,0.0,0.0,0.0,17.0,32.0,15.0
0,100654,6.0,19.0,19.0,18.0,19.0,0.0,1.0,1.0,15.0,...,NaN,NaN,37.0,33.0,0.0,2.0,2.0,16.0,34.0,18.0
1,100663,13.0,27.0,29.0,26.0,27.0,2.0,4.0,2.0,244.0,...,1619.0,5183.0,19.0,18.0,6.0,18.0,12.0,1008.0,1738.0,730.0
1,100663,15.0,27.0,28.0,26.0,27.0,2.0,4.0,2.0,243.0,...,1636.0,4889.0,22.0,19.0,5.0,17.0,12.0,1011.0,1703.0,692.0
2,100690,7.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,60.0,90.0,0.0,0.0,0.0,26.0,30.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,492962,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN
2285,492962,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN
2312,494597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313,494603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2314,494685,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN

# Imputation Pipeline