# Importing Modules

In [1]:
import pandas as pd
import numpy as np
import sys
from functools import reduce
pd.options.display.max_columns = 200
pd.options.display.max_rows = 170

# Inspecting The Data

In [2]:
df = pd.read_csv("data/UniversityData.csv", index_col=["UnitID"])

In [3]:
institution_names_df = df[["Institution Name"]]
institution_names_df.reset_index(inplace = True)

In [4]:
df.drop(["Unnamed: 136"], axis=1, inplace=True)

In [5]:
schema = pd.read_csv("data/Schema.csv")

In [6]:
df.columns[31]

'Nonresident alien women (S2019_IS  All instructional staff)'

In [7]:
df.describe()

,Grand total (S2019_IS All instructional staff),Grand total men (S2019_IS All instructional staff),Grand total women (S2019_IS All instructional staff),American Indian or Alaska Native total (S2019_IS All instructional staff),American Indian or Alaska Native men (S2019_IS All instructional staff),American Indian or Alaska Native women (S2019_IS All instructional staff),Asian total (S2019_IS All instructional staff),Asian men (S2019_IS All instructional staff),Asian women (S2019_IS All instructional staff),Black or African American total (S2019_IS All instructional staff),Black or African American men (S2019_IS All instructional staff),Black or African American women (S2019_IS All instructional staff),Hispanic or Latino total (S2019_IS All instructional staff),Hispanic or Latino men (S2019_IS All instructional staff),Hispanic or Latino women (S2019_IS All instructional staff),Native Hawaiian or Other Pacific Islander total (S2019_IS All instructional staff),Native Hawaiian or Other Pacific Islander men (S2019_IS All instructional staff),Native Hawaiian or Other Pacific Islander women (S2019_IS All instructional staff),White total (S2019_IS All instructional staff),White men (S2019_IS All instructional staff),White women (S2019_IS All instructional staff),Two or more races total (S2019_IS All instructional staff),Two or more races men (S2019_IS All instructional staff),Two or more races women (S2019_IS All instructional staff),Race/ethnicity unknown total (S2019_IS All instructional staff),Race/ethnicity unknown men (S2019_IS All instructional staff),Race/ethnicity unknown women (S2019_IS All instructional staff),Nonresident alien total (S2019_IS All instructional staff),Nonresident alien men (S2019_IS All instructional staff),Nonresident alien women (S2019_IS All instructional staff),Graduation rate total cohort (DRVGR2019),Graduation rate men (DRVGR2019),Graduation rate women (DRVGR2019),Graduation rate American Indian or Alaska Native (DRVGR2019),Graduation rate Asian/Native Hawaiian/Other Pacific Islander (DRVGR2019),Graduation rate Asian (DRVGR2019),Graduation rate Native Hawaiian or Other Pacific Islander (DRVGR2019),Graduation rate Black non-Hispanic (DRVGR2019),Graduation rate Hispanic (DRVGR2019),Graduation rate White non-Hispanic (DRVGR2019),Graduation rate two or more races (DRVGR2019),Graduation rate Race/ethnicity unknown (DRVGR2019),Graduation rate Nonresident alien (DRVGR2019),Transfer-out rate total cohort (DRVGR2019),Percent of full-time first-time undergraduates awarded any financial aid (SFA1819),Percent of full-time first-time undergraduates awarded federal state local or institutional grant aid (SFA1819),Core revenues total dollars (GASB) (DRVF2019),Tuition and fees as a percent of core revenues (GASB) (DRVF2019),State appropriations as percent of core revenues (GASB) (DRVF2019),Local appropriations as a percent of core revenues (GASB) (DRVF2019),Government grants and contracts as a percent of core revenues (GASB) (DRVF2019),Private gifts grants and contracts as a percent of core revenues (GASB) (DRVF2019),Investment return as a percent of core revenues (GASB) (DRVF2019),Other revenues as a percent of core revenues (GASB) (DRVF2019),Core revenues total dollars (FASB) (DRVF2019),Tuition and fees as a percent of core revenues (FASB) (DRVF2019),Government grants and contracts as a percent of core revenues (FASB) (DRVF2019),Private gifts grants contracts/contributions from affiliated entities as a percent of core revenues (FASB) (DRVF2019),Investment return as a percent of core revenues (FASB) (DRVF2019),Other revenues as a percent of core revenues (FASB) (DRVF2019),Core revenues total dollars (for-profit institutions) (DRVF2019),Tuition and fees as a percent of core revenues (for-profit institutions) (DRVF2019),Government grants and contracts as a percent of core revenues (for-profit institutions) (DRVF2019),Private gifts grants contracts as a percent of core revenues (for-profit institutions) (DRVF2019),Investment return as a percent of core revenues (for-profit institutions) (DRVF2019),Sales and services of educational activities as a percent of core revenues (for-profit institutions) (DRVF2019),Other revenues as a percent of core revenues (for-profit institutions) (DRVF2019),Core expenses total dollars (GASB) (DRVF2019),Instruction expenses as a percent of total core expenses (GASB) (DRVF2019),Research expenses as a percent of total core expenses (GASB) (DRVF2019),Public service expenses as a percent of total core expenses (GASB) (DRVF2019),Academic support expenses as a percent of total core expenses (GASB) (DRVF2019),Student service expenses as a percent of total core expenses (GASB) (DRVF2019),Institutional support expenses as a percent of total core expenses (GASB) (DRVF2019),Other core expenses as a percent of total core expenses (GASB) (DRVF2019),Core expenses total dollars (FASB) (DRVF2019),Instruction expenses as a percent of total core expenses (FASB) (DRVF2019),Research expenses as a percent of total core expenses (FASB) (DRVF2019),Public service expenses as a percent of total core expenses (FASB) (DRVF2019),Academic support expenses as a percent of total core expenses (FASB) (DRVF2019),Student service expenses as a percent of total core expenses (FASB) (DRVF2019),Institutional support expenses as a percent of total core expenses (FASB) (DRVF2019),Other core expenses as a percent of total core expenses (FASB) (DRVF2019),Core expenses total dollars (for-profit institutons) (DRVF2019),Instruction expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Research expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Public service expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Academic support expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Student service expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Institutional support expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Other core expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Carnegie Classification 2018: Size and Setting (HD2018),Carnegie Classification 2018: Enrollment Profile (HD2018),Carnegie Classification 2018: Basic (HD2018),Institution size category (HD2018),Sector of institution (HD2018),Historically Black College or University (HD2018),Percent of total enrollment that are American Indian or Alaska Native (DRVEF2013_RV),Percent of total enrollment that are Asian/Native Hawaiian/Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Asian (DRVEF2013_RV),Percent of total enrollment that are Native Hawaiian or Other Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Black or African American (DRVEF2013_RV),Percent of total enrollment that are Hispanic/Latino (DRVEF2013_RV),Percent of total enrollment that are White (DRVEF2013_RV),Percent of total enrollment that are Race/ethnicity unknown (DRVEF2013_RV),Percent of total enrollment that are Nonresident Alien (DRVEF2013_RV),Percent of total enrollment that are two or more races (DRVEF2013_RV),Percent of total enrollment that are women (DRVEF2013_RV),Grand total (EF2013B_RV Undergraduate Age under 25 total),Total men (EF2013B_RV Undergraduate Age under 25 total),Total women (EF2013B_RV Undergraduate Age under 25 total),Grand total (EF2013B_RV Undergraduate Age 25 and over total),Total men (EF2013B_RV Undergraduate Age 25 and over total),Total women (EF2013B_RV Undergraduate Age 25 and over total),Total price for in-district students living on campus 2012-13 (DRVIC2012_RV),Total price for in-state students living on campus 2012-13 (DRVIC2012_RV),Total price for out-of-state students living on campus 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (with family) 2012-13 (DRVIC2012_RV),Student-to-faculty ratio (EF2019D),SAT Critical Reading 75th percentile score (IC2012_RV),SAT Math 75th percentile score (IC2012_RV),SAT Writing 75th percentile score (IC2012_RV),ACT Composite 75th percentile score (IC2012_RV),ACT English 75th percentile score (IC2012_RV),ACT Math 75th percentile score (IC2012_RV),ACT Writing 75th percentile score (IC2012_RV),Parent/child indicator - Finance (FLAGS2019)
count,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2466.000000,2315.000000,2248.000000,2208.000000,1405.000000,1829.000000,1777.000000,943.000000,2027.000000,2075.000000,2204.000000,1720.000000,1692.000000,1572.000000,1385.000000,2321.000000,2321.000000,7.660000e+02,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,1.690000e+03,1689.000000,1689.000000,1689.000000,1689.000000,1689.000000,3.580000e+02,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,7.660000e+02,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,1.690000e+03,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,3.580000e+02,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,2791.000000,2791.000000,2791.000000,2791.000000,2791.000000,2791.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2378.000000,2378.000000,2378.000000,2350.000000,2350.000000,2350.000000,1665.00000,1665.000000,1665.000000,2053.000000,2053.000000,2053.000000,2062.000000,2062.000000,2062.000000,2493.000000,1242.000000,1256.000000,743.000000,1274.000000,1092.000000,1091.000000,258.000000,2825.000000
mean,259.922952,139.502839,120.420114,0.969992,0.467153,0.502839,28.109489,16.305353,11.804136,14.141119,6.178427,7.962693,14.710057,7.359286,7.350770,0.453771,0.228710,0.225061,180.768451,97.263990,83.504461,2.601784,1.193431,1.408354,8.178832,4.347526,3.831306,9.989457,6.158962,3.830495,51.535205,47.922598,54.874547,41.953737,57.539639,59.046708,48.973489,41.239763,47.868434,54.559891,48.453488,50.320922,58.502545,23.941516,88.905213,84.039638,3.292445e+08,29.030026,29.013055,1.976501,22.265013,4.142298,1.737598,11.812010,1.146889e+08,63.142096,4.917111,19.590882,7.033156,5.300770,3.208575e+07,94.053073,1.879888,0.053073,0.391061,1.558659,2.022346,3.106305e+08,41.157963,6.074413,3.701044,10.639687,10.308094,13.740209,14.344648,1.022910e+08,39.509467,2.011834,1.117751,10.633728,17.081657,25.259172,4.394675,2.734069e+07,30.368715,0.120112,0.226257,13.784916,13.284916,33.798883,8.477654,10.616267,3.625582,20.482981,2.077033,1.890720,1.968112,1.135268,5.018463,4.498116,0.442351,13.337980,11.538056,56.607762,5.874152,4.180482,2.219668,56.556518,3432.191337,1562.883936,1869.307401,1123.751064,477.502128,646.248936,32367.61021,32375.872072,35577.251652,30368.199221,30384.275694,33363.168534,21881.823957,21897.830262,24877.129486,14.211793,581.223833,589.405255,576.337820,25.473312,25.744505,25.290559,8.461240,-1.440708
std,533.437627,303.402950,235.195758,2.815905,1.452959,1.586259,83.016522,48.230435,35.730717,32.837487,14.547948,18.941059,39.379074,20.021061,19.983782,2.963964,1.408322,1.726549,357.080342,204.955422,156.458890,6.571219,3.127107,3.731440,34.826886,17.839573,17.517535,36.008551,23.042651,13.211298,21.886462,22.860664,22.241805,36.259747,29.338908,29.549690,40.353853,25.847849,25.115193,23.029231,27.225774,29.246993,28.351313,15.985368,16.863692,19.697588,5.761373e+08,14.657943,13.711589,8.438596,11.784070,5.528239,2.215884,12.088829,4.933873e+08,26.520602,9.771877,19.512942,15.420069,9.516798,1.089347e+08,11.864783,7.284502,0.598765,1.968414,6.738881,6.698347,5.463229e+08,10.350832,9.339267,5.048075,4.634420,5.893753,6.346560,11.105261,4.135208e+08,12.205473,6.429826,3.767013,7.338886,9.799552,11.306864,10.293783,8.678174e+07,14.662146,0.669117,1.563478,16.439554,11.759606,20.364571,15.657336,4.440124,1.819423,5.921256,1.188421,0.737055,0.175734,7.019665,8.479107,7.009645,4.142427,18.945931,18.479333,25.514788,8.420354,7.483429,2.387375,17.528535,5568.893598,2670.157015,2948.382555,2621.316238,1192.007097,1527.723145,13269.84148,13258.602202,11724.178796,11783.269827,11762.986392,10628.968093,11189.580276,11169.538473,9867.272802,7.833699,71.191301,72.094188,78.751599,3.330875,3.722712,3.360987,1.051426,1.524855
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.179270e+05,0.000000,0.000000,0.000000,0.000000,-6.000000,-1.000000,0.000000,-6.432834e+06,0.000000,0.000000,-12.000000,-332.000000,-2.000000,3.301600e+04,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.073170e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-36.000000,5.000000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.000000,1.000350e+05,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000,-2.000000,-2.000000,-2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,5100.000000,5100.000000,5100.000000,4100.000000,4100.000000,4100.000000,1.000000,307.000000,325.000000,282.000000,16.000000,15.000000,14.000000,6.000000,-2.000000
25%,31.000000,14.000000,15.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000,9.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.000000,32.000000,40.000000,0.000000,39.000000,40.000000,0.000000,22.000000,31.000000,40.000000,29.000000,29.000000,42.000000,13.000000,85.000000,75.000000,5.674203e+07,18.000000,21.000000,0.000000,15.000000,1.000000,1.000000,5.000000,7.009263e+06,46.000000,0.000000,5.000000,0.000000,0.000000,2.420042e+06,95.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.173597e+07,35.000000,0.000000,0.000000,7.000000,7.000000,10.000000,7.000000,6.730487e+06,32.000000,0.000000,0.000000,6.000000,10.000000,18.000000,0.000000,2.475196e+06,19.000000,0.000000,0.000000,4.000000,3.000000,17.000000,0.000000,7.000000,2.000000,18.000000,1.000000,1.000000,2.000000,0.000000,1.000000,1.000000,0.000000,3.000000,3.000000,42.000000,1.000000,0.000000,1.000000,50.000000,379.500000,120.000000,218.000000,100.000000,36.000000,51.000000,21020.00000,21020.000000,27776.000000,20920.000000,20930.000000,25983.000000,12178.500000,12178.500000,17793.250000,10.000000,530.000000,540.000000,520.000000,23.000000,23.000000,24.000000,8.000000,-2.000000
50%,91.000000,44.000000,46.000000,0.000000,0.000000,0.000000,4.000000,2.000000,2.000000,4.000000,2.000000,2.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,68.000000,33.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,52.000000,48.000000,57.000000,36.000000,60.000000,63.000000,50.000000,40.000000,49.000000,56.000000,50.000000,50.000000,61.000000,23.000000,96.000000,92.000000,1.271384e+08,29.000000,29.000000,0.000000,20.000000,3.000000,1.000000,9.000000,2.334597e+07,68.000000,1.000000,13.000000,3.000000,2.000000,7.175490e+06,99.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.199706e+08,42.000000,1.000000,2.000000,10.000000,10.000000,13.000000,12.000000,2.364763e+07,40.000000,0.000000,0.000000,9.000000,17.000000,23.000000,0.000000,7.517764e+06,28.000000,0.000000,0.000000,8.000000,11.000000,35.000000,0.000000,11.000000,3.000000,21.000000,2.000000,2.000000,2.000000,0.000000,2.000000,2.000000,0.000000,6.000000,5.000000,63.000000,3.000000,2.000000,2.000000,58.000000,1375.000000,583.500000,766.000000,349.000000,120.000000,211.500000,30858.00000,30858.000000,34771.000000,28360.000000,28360.000000,32554.000000,19416.000000,19416.000000,24053.500000,13.000000,570.000000,580.000000,570.000000,25.000000,25.000000,25.000000,8.000000,-2.000000
75%,229.750000,115.000000,117.000000,1.000000,0.000000,0.000000,18.000000,9.000000,8.000000,12.000000,6.000000,7.000000,11.000000,5.000000,5.000000,0.000000,0.000000,0.000000,170.750000,85.000000,84.000000,2.000000,1.000000,1.000000,3.000000,2.000000,2.000000,5.000000,3.000000,2.000000,67.000000,64.000000,71.000000,67.000000,80.000000,81.000000,100.000000,58.000000,65.000000,71.000000,67.000000,72.000000,80.000000,32.000000,100.000000,99.000000,3.180440e+08,39.000000,38.000000,0.000000,27.000000,5.000000,2.000000,15.000000,6.408374e+07,84.000000,5.000000,27.000000,10.000000,6.000000,1.965560e+07,100.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.031459e+08,48.000000,9.000000,5.000000,13.000000,13.000000,17.000000,21.000000,6.203499e+07,46.000000,1.000000,1.000000,13.000000,24.000000,30.000000,3.000000,1.825691e+07,38.000000,0.000000,0.000000,16.000000,20.000000,47.000000,13.000000,14.000000,5.000000,24.000000,3.000000,2.000000,2.000000,1.000000,5.000000,5.000000,0.000000,15.000000,11.000000,76.000000,8.000000,5.000000,3.000000,65.000000,3618.250000,1602.000000,2073.750000,1056.500000,434.500000,628.000000,42118.00000,42118.000000,43080.000000,38578.000000,38578.000000,40302.000000,30645.500000,30645.500000,31548.000000,17.000000,620.000000,630.000000,620.000000,27.000000,28.000000,27.000000,9.000000,-2.000000
max,6787.000000,3983.000000,2804.000000,39.000000,25.000000,27.000000,1001.000000,606.000000,499.000000,604.000000,307.000000,312.000000,683.000000,364.000000,372.000000,79.000000,32.000000,52.000000,4094.000000,2367.000000,1754.000000,103.000000,44.000000,72.000000,807.000000,324.000000,483.000000,1027.000000,671.000000,356.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,5.290396e+09,100.000000,76.000000,69.000000,98.000000,64.000000,22.000000,98.000000,8.257036e+09,367.000000,94.000000,131.000000,100.000000,100.000000,1.463057e+09,100.000000,58.000000,10.000000,25.000000,85.000000,50.000000,5.533926e+09,76.000000,65.000000,40.000000,37.000000,87.000000,60.000000,69.000000,6.894039e+09,100.000000,71.000000,53.000000,57.000000,53.000000,99.000000,100.000000,1.041293e+09,100.000000,7.000000,15.000000,79.000000,62.000000,93.000000,81.000000,18.000000,7.000000,33.000000,5.000000,9.000000,2.000000,100.000000,100.000000,79.000000,100.000000,100.000000,100.000000,100.000000,81.000000,99.000000,28.000000,100.000000,43560.000000,21994.000000,24570.000000,45788.000000,22085.000000,32589.000000,64233.00000,64233.000000,64233.000000,72143.000000,72143.000000,72143.000000,65753.000000,65753.000000,65753.000000,122.000000,800.000000,800.000000,800.000000,35.000000,35.000000,36.000000,12.000000,5.000000

# Split the Dataframe by Feature Type

Categorical
<br>
Numerical
<br>
Dependent Variables

In [8]:
#list of categorical features
cat_ordinal_groups = list(schema.groupby("VariableName").groups.keys())

categorical_df = df.loc[:,cat_ordinal_groups] #dataframe with categorical features

In [9]:
df.columns[32:46] #dependent variables

Index(['Graduation rate  total cohort (DRVGR2019)',
       'Graduation rate  men (DRVGR2019)',
       'Graduation rate  women (DRVGR2019)',
       'Graduation rate  American Indian or Alaska Native (DRVGR2019)',
       'Graduation rate  Asian/Native Hawaiian/Other Pacific Islander (DRVGR2019)',
       'Graduation rate  Asian (DRVGR2019)',
       'Graduation rate  Native Hawaiian or Other Pacific Islander (DRVGR2019)',
       'Graduation rate  Black  non-Hispanic (DRVGR2019)',
       'Graduation rate  Hispanic (DRVGR2019)',
       'Graduation rate  White  non-Hispanic (DRVGR2019)',
       'Graduation rate  two or more races (DRVGR2019)',
       'Graduation rate  Race/ethnicity unknown (DRVGR2019)',
       'Graduation rate  Nonresident alien (DRVGR2019)',
       'Transfer-out rate  total cohort (DRVGR2019)'],
      dtype='object')

In [10]:
#dependent features list
dependent_var_list = list(df.columns[32:46])

dependent_df = df.loc[:,dependent_var_list]

In [11]:
#Numeric Data Frame will be all of those columns outside of dependent and categorical/ordinal

not_numeric = cat_ordinal_groups + dependent_var_list

numeric_df = df.drop(not_numeric, axis=1)

# Mapping names of categorical variables to encoded numbers

In [12]:
categorical_df.fillna("isMissing", inplace=True)

In [13]:
#convert floats to strings
for i in categorical_df.columns:
    categorical_df[i] = categorical_df[i].astype(str)

nm = categorical_df.columns

float_to_int = {str(float(i)) : str(i) for i in range(-2, 35)}

for i in nm:
    categorical_df[i].replace(float_to_int, inplace=True)

In [14]:
maps = {}
# remember from above cat_ordinal_groups is a list categorical column names
for i in cat_ordinal_groups:    
    dict_to_add = {}
   
    val_label_df = schema[schema["VariableName"] == i]

    val_label_df= val_label_df[["Value", "ValueLabel"]]


    val_label_dict = val_label_df.set_index("Value").transpose().to_dict()

    for j,v in val_label_dict.items():

        val_label_dict[j] = v['ValueLabel']
    
    maps[i] = val_label_dict


for i in cat_ordinal_groups:
    categorical_df[i].replace(maps[i], inplace=True)

In [15]:
categorical_df["City location of institution (HD2019)"] = df[df.columns[1]]

# Fixing Numeric Errors in the dataset

In [16]:
numeric_df.iloc[:,55:].describe()

,Core expenses total dollars (GASB) (DRVF2019),Instruction expenses as a percent of total core expenses (GASB) (DRVF2019),Research expenses as a percent of total core expenses (GASB) (DRVF2019),Public service expenses as a percent of total core expenses (GASB) (DRVF2019),Academic support expenses as a percent of total core expenses (GASB) (DRVF2019),Student service expenses as a percent of total core expenses (GASB) (DRVF2019),Institutional support expenses as a percent of total core expenses (GASB) (DRVF2019),Other core expenses as a percent of total core expenses (GASB) (DRVF2019),Core expenses total dollars (FASB) (DRVF2019),Instruction expenses as a percent of total core expenses (FASB) (DRVF2019),Research expenses as a percent of total core expenses (FASB) (DRVF2019),Public service expenses as a percent of total core expenses (FASB) (DRVF2019),Academic support expenses as a percent of total core expenses (FASB) (DRVF2019),Student service expenses as a percent of total core expenses (FASB) (DRVF2019),Institutional support expenses as a percent of total core expenses (FASB) (DRVF2019),Other core expenses as a percent of total core expenses (FASB) (DRVF2019),Core expenses total dollars (for-profit institutons) (DRVF2019),Instruction expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Research expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Public service expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Academic support expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Student service expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Institutional support expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Other core expenses as a percent of total core expenses (for-profit institutions) (DRVF2019),Percent of total enrollment that are American Indian or Alaska Native (DRVEF2013_RV),Percent of total enrollment that are Asian/Native Hawaiian/Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Asian (DRVEF2013_RV),Percent of total enrollment that are Native Hawaiian or Other Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Black or African American (DRVEF2013_RV),Percent of total enrollment that are Hispanic/Latino (DRVEF2013_RV),Percent of total enrollment that are White (DRVEF2013_RV),Percent of total enrollment that are Race/ethnicity unknown (DRVEF2013_RV),Percent of total enrollment that are Nonresident Alien (DRVEF2013_RV),Percent of total enrollment that are two or more races (DRVEF2013_RV),Percent of total enrollment that are women (DRVEF2013_RV),Grand total (EF2013B_RV Undergraduate Age under 25 total),Total men (EF2013B_RV Undergraduate Age under 25 total),Total women (EF2013B_RV Undergraduate Age under 25 total),Grand total (EF2013B_RV Undergraduate Age 25 and over total),Total men (EF2013B_RV Undergraduate Age 25 and over total),Total women (EF2013B_RV Undergraduate Age 25 and over total),Total price for in-district students living on campus 2012-13 (DRVIC2012_RV),Total price for in-state students living on campus 2012-13 (DRVIC2012_RV),Total price for out-of-state students living on campus 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (with family) 2012-13 (DRVIC2012_RV),Student-to-faculty ratio (EF2019D),SAT Critical Reading 75th percentile score (IC2012_RV),SAT Math 75th percentile score (IC2012_RV),SAT Writing 75th percentile score (IC2012_RV),ACT Composite 75th percentile score (IC2012_RV),ACT English 75th percentile score (IC2012_RV),ACT Math 75th percentile score (IC2012_RV),ACT Writing 75th percentile score (IC2012_RV)
count,7.660000e+02,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,1.690000e+03,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,1690.000000,3.580000e+02,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2654.000000,2378.000000,2378.000000,2378.000000,2350.000000,2350.000000,2350.000000,1665.00000,1665.000000,1665.000000,2053.000000,2053.000000,2053.000000,2062.000000,2062.000000,2062.000000,2493.000000,1242.000000,1256.000000,743.000000,1274.000000,1092.000000,1091.000000,258.000000
mean,3.106305e+08,41.157963,6.074413,3.701044,10.639687,10.308094,13.740209,14.344648,1.022910e+08,39.509467,2.011834,1.117751,10.633728,17.081657,25.259172,4.394675,2.734069e+07,30.368715,0.120112,0.226257,13.784916,13.284916,33.798883,8.477654,1.135268,5.018463,4.498116,0.442351,13.337980,11.538056,56.607762,5.874152,4.180482,2.219668,56.556518,3432.191337,1562.883936,1869.307401,1123.751064,477.502128,646.248936,32367.61021,32375.872072,35577.251652,30368.199221,30384.275694,33363.168534,21881.823957,21897.830262,24877.129486,14.211793,581.223833,589.405255,576.337820,25.473312,25.744505,25.290559,8.461240
std,5.463229e+08,10.350832,9.339267,5.048075,4.634420,5.893753,6.346560,11.105261,4.135208e+08,12.205473,6.429826,3.767013,7.338886,9.799552,11.306864,10.293783,8.678174e+07,14.662146,0.669117,1.563478,16.439554,11.759606,20.364571,15.657336,7.019665,8.479107,7.009645,4.142427,18.945931,18.479333,25.514788,8.420354,7.483429,2.387375,17.528535,5568.893598,2670.157015,2948.382555,2621.316238,1192.007097,1527.723145,13269.84148,13258.602202,11724.178796,11783.269827,11762.986392,10628.968093,11189.580276,11169.538473,9867.272802,7.833699,71.191301,72.094188,78.751599,3.330875,3.722712,3.360987,1.051426
min,7.073170e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-36.000000,5.000000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.000000,1.000350e+05,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,5100.000000,5100.000000,5100.000000,4100.000000,4100.000000,4100.000000,1.000000,307.000000,325.000000,282.000000,16.000000,15.000000,14.000000,6.000000
25%,5.173597e+07,35.000000,0.000000,0.000000,7.000000,7.000000,10.000000,7.000000,6.730487e+06,32.000000,0.000000,0.000000,6.000000,10.000000,18.000000,0.000000,2.475196e+06,19.000000,0.000000,0.000000,4.000000,3.000000,17.000000,0.000000,0.000000,1.000000,1.000000,0.000000,3.000000,3.000000,42.000000,1.000000,0.000000,1.000000,50.000000,379.500000,120.000000,218.000000,100.000000,36.000000,51.000000,21020.00000,21020.000000,27776.000000,20920.000000,20930.000000,25983.000000,12178.500000,12178.500000,17793.250000,10.000000,530.000000,540.000000,520.000000,23.000000,23.000000,24.000000,8.000000
50%,1.199706e+08,42.000000,1.000000,2.000000,10.000000,10.000000,13.000000,12.000000,2.364763e+07,40.000000,0.000000,0.000000,9.000000,17.000000,23.000000,0.000000,7.517764e+06,28.000000,0.000000,0.000000,8.000000,11.000000,35.000000,0.000000,0.000000,2.000000,2.000000,0.000000,6.000000,5.000000,63.000000,3.000000,2.000000,2.000000,58.000000,1375.000000,583.500000,766.000000,349.000000,120.000000,211.500000,30858.00000,30858.000000,34771.000000,28360.000000,28360.000000,32554.000000,19416.000000,19416.000000,24053.500000,13.000000,570.000000,580.000000,570.000000,25.000000,25.000000,25.000000,8.000000
75%,3.031459e+08,48.000000,9.000000,5.000000,13.000000,13.000000,17.000000,21.000000,6.203499e+07,46.000000,1.000000,1.000000,13.000000,24.000000,30.000000,3.000000,1.825691e+07,38.000000,0.000000,0.000000,16.000000,20.000000,47.000000,13.000000,1.000000,5.000000,5.000000,0.000000,15.000000,11.000000,76.000000,8.000000,5.000000,3.000000,65.000000,3618.250000,1602.000000,2073.750000,1056.500000,434.500000,628.000000,42118.00000,42118.000000,43080.000000,38578.000000,38578.000000,40302.000000,30645.500000,30645.500000,31548.000000,17.000000,620.000000,630.000000,620.000000,27.000000,28.000000,27.000000,9.000000
max,5.533926e+09,76.000000,65.000000,40.000000,37.000000,87.000000,60.000000,69.000000,6.894039e+09,100.000000,71.000000,53.000000,57.000000,53.000000,99.000000,100.000000,1.041293e+09,100.000000,7.000000,15.000000,79.000000,62.000000,93.000000,81.000000,100.000000,100.000000,79.000000,100.000000,100.000000,100.000000,100.000000,81.000000,99.000000,28.000000,100.000000,43560.000000,21994.000000,24570.000000,45788.000000,22085.000000,32589.000000,64233.00000,64233.000000,64233.000000,72143.000000,72143.000000,72143.000000,65753.000000,65753.000000,65753.000000,122.000000,800.000000,800.000000,800.000000,35.000000,35.000000,36.000000,12.000000

## no numbers should be negative, which is not the case. We have negative revenues and negative expenses

In [17]:
numeric_df.drop(numeric_df.columns[:2], axis=1, inplace=True)

In [18]:
numeric_df = numeric_df.abs()

In [19]:
numeric_df.columns[32:53]

Index(['Core revenues  total dollars (GASB) (DRVF2019)',
       'Tuition and fees as a percent of core revenues (GASB) (DRVF2019)',
       'State appropriations as percent of core revenues  (GASB) (DRVF2019)',
       'Local appropriations as a percent of core revenues (GASB) (DRVF2019)',
       'Government grants and contracts as a percent of core revenues (GASB) (DRVF2019)',
       'Private gifts  grants  and contracts as a percent of core revenues (GASB) (DRVF2019)',
       'Investment return as a percent of core revenues (GASB) (DRVF2019)',
       'Other revenues as a percent of core revenues (GASB) (DRVF2019)',
       'Core revenues  total dollars (FASB) (DRVF2019)',
       'Tuition and fees as a percent of core revenues (FASB) (DRVF2019)',
       'Government grants and contracts as a percent of core revenues (FASB) (DRVF2019)',
       'Private gifts  grants  contracts/contributions from affiliated entities as a percent of core revenues (FASB) (DRVF2019)',
       'Investment return as a percent of core revenues (FASB) (DRVF2019)',
       'Other revenues as a percent of core revenues (FASB) (DRVF2019)',
       'Core revenues  total dollars (for-profit institutions) (DRVF2019)',
       'Tuition and fees as a percent of core revenues (for-profit institutions) (DRVF2019)',
       'Government grants and contracts as a percent of core revenues (for-profit institutions) (DRVF2019)',
       'Private gifts  grants  contracts as a percent of core revenues (for-profit institutions) (DRVF2019)',
       'Investment return as a percent of core revenues (for-profit institutions) (DRVF2019)',
       'Sales and services of educational activities as a percent of core revenues (for-profit institutions) (DRVF2019)',
       'Other revenues as a percent of core revenues (for-profit institutions) (DRVF2019)'],
      dtype='object')

# Merging Financial Data

Financial data is separated between three groups: GASB, FASB, and For profit institutions. Merge into mini functions combines this data into one column instead of three separate columns for financial data.

In [20]:
def merge_into_mini(dframe, list_of_cols, final_col_name):
    df_list = []
    for i in list_of_cols:
        df_1 = pd.DataFrame(dframe.copy(deep=True)[i])
        df_1.reset_index(inplace=True)
        df_1.dropna(inplace=True)
        df_1.columns = ["UnitID", final_col_name]
        df_list.append(df_1)
    df_final = pd.concat(df_list)
    return df_final

In [21]:
numeric_df.columns[53:73]

Index(['Core expenses  total dollars (GASB) (DRVF2019)',
       'Instruction expenses as a percent of total core expenses (GASB) (DRVF2019)',
       'Research expenses as a percent of total core expenses (GASB) (DRVF2019)',
       'Public service expenses as a percent of total core expenses (GASB) (DRVF2019)',
       'Academic support expenses as a percent of total core expenses (GASB) (DRVF2019)',
       'Student service expenses as a percent of total core expenses (GASB) (DRVF2019)',
       'Institutional support expenses as a percent of total core expenses (GASB) (DRVF2019)',
       'Other core expenses as a percent of total core expenses (GASB) (DRVF2019)',
       'Core expenses  total dollars (FASB) (DRVF2019)',
       'Instruction expenses as a percent of total core expenses (FASB) (DRVF2019)',
       'Research expenses as a percent of total core expenses (FASB) (DRVF2019)',
       'Public service expenses as a percent of total core expenses (FASB) (DRVF2019)',
       'Academic support expenses as a percent of total core expenses (FASB) (DRVF2019)',
       'Student service expenses as a percent of total core expenses (FASB) (DRVF2019)',
       'Institutional support expenses as a percent of total core expenses (FASB) (DRVF2019)',
       'Other core expenses as a percent of total core expenses (FASB) (DRVF2019)',
       'Core expenses  total dollars (for-profit institutons) (DRVF2019)',
       'Instruction expenses as a percent of total core expenses (for-profit institutions) (DRVF2019)',
       'Research expenses as a percent of total core expenses (for-profit institutions) (DRVF2019)',
       'Public service expenses as a percent of total core expenses (for-profit institutions) (DRVF2019)'],
      dtype='object')

In [22]:
#create expenses classes
class Container:
    def __init__(self, col_name):
        self.main_list = []
        self.name = col_name.title().replace(" ", "_")
        for i in numeric_df.columns:
            if col_name in i:
                self.main_list.append(i)
    def __repr__(self):
        return self.name

expenses_list = [
    Container("Core expenses"), Container("Instruction expenses"), 
    Container("Research expenses"), Container("Public service expenses"),
    Container("Academic support expenses"),
    Container("Student service expenses"), Container("Institutional support expenses"),
    Container("Other core expenses")
]

revenues_list = [
    Container("Core revenues"), Container("Tuition and fees"),
    Container("Government grants"), Container("Private gifts"),
    Container("Investment return"), Container("Sales and services"),
    Container("Other revenues")   
]

In [23]:
expenses_df_list = [merge_into_mini(numeric_df, i.main_list, repr(i)) for i in expenses_list]

In [24]:
expenses_df = reduce(lambda x, y: pd.merge(x, y, on = 'UnitID', how="outer"), expenses_df_list)

In [25]:
revenues_df_list = [merge_into_mini(numeric_df, i.main_list, repr(i)) for i in revenues_list]

In [26]:
revenues_df = reduce(lambda x, y: pd.merge(x, y, on = 'UnitID', how="outer"), revenues_df_list)

In [27]:
revenues_df.fillna(value=0, inplace=True)

In [28]:
#converting to dollar amounts instead of percentages

for i in revenues_df.columns[2:]:
    col_name = i + "_As_Dollar_Amount"
    revenues_df[col_name] = revenues_df[i].apply(lambda x: x / 100) * revenues_df["Core_Revenues"]

In [29]:
revenues_df.head()

,UnitID,Core_Revenues,Tuition_And_Fees,Government_Grants,Private_Gifts,Investment_Return,Sales_And_Services,Other_Revenues,Tuition_And_Fees_As_Dollar_Amount,Government_Grants_As_Dollar_Amount,Private_Gifts_As_Dollar_Amount,Investment_Return_As_Dollar_Amount,Sales_And_Services_As_Dollar_Amount,Other_Revenues_As_Dollar_Amount
0,180203,7078959.0,2.0,60.0,7.0,1.0,0.0,29.0,141579.18,4247375.40,495527.13,70789.59,0.0,2052898.11
1,138558,70491879.0,17.0,17.0,2.0,0.0,0.0,28.0,11983619.43,11983619.43,1409837.58,0.00,0.0,19737726.12
2,126182,52099218.0,34.0,51.0,5.0,1.0,0.0,9.0,17713734.12,26570601.18,2604960.90,520992.18,0.0,4688929.62
3,100654,143112797.0,33.0,30.0,2.0,0.0,0.0,6.0,47227223.01,42933839.10,2862255.94,0.00,0.0,8586767.82
4,100724,134993142.0,30.0,25.0,2.0,1.0,0.0,7.0,40497942.60,33748285.50,2699862.84,1349931.42,0.0,9449519.94

In [30]:
expenses_df.fillna(value=0, inplace=True)

In [31]:
#converting to dollar amounts instead of percentages

for i in expenses_df.columns[2:]:
    col_name = i + "_As_Dollar_Amount"
    expenses_df[col_name] = expenses_df[i].apply(lambda x: x / 100) * expenses_df["Core_Expenses"]

In [32]:
finances_df = revenues_df.merge(expenses_df, how="outer", on="UnitID")

In [33]:
finances_df.describe()

,UnitID,Core_Revenues,Tuition_And_Fees,Government_Grants,Private_Gifts,Investment_Return,Sales_And_Services,Other_Revenues,Tuition_And_Fees_As_Dollar_Amount,Government_Grants_As_Dollar_Amount,Private_Gifts_As_Dollar_Amount,Investment_Return_As_Dollar_Amount,Sales_And_Services_As_Dollar_Amount,Other_Revenues_As_Dollar_Amount,Core_Expenses,Instruction_Expenses,Research_Expenses,Public_Service_Expenses,Academic_Support_Expenses,Student_Service_Expenses,Institutional_Support_Expenses,Other_Core_Expenses,Instruction_Expenses_As_Dollar_Amount,Research_Expenses_As_Dollar_Amount,Public_Service_Expenses_As_Dollar_Amount,Academic_Support_Expenses_As_Dollar_Amount,Student_Service_Expenses_As_Dollar_Amount,Institutional_Support_Expenses_As_Dollar_Amount,Other_Core_Expenses_As_Dollar_Amount
count,2814.000000,2.814000e+03,2814.000000,2814.000000,2814.000000,2814.000000,2814.000000,2814.000000,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03,2814.000000,2814.000000,2814.000000,2814.000000,2814.000000,2814.000000,2814.000000,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03,2.814000e+03
mean,238196.148188,1.625889e+08,57.766525,9.251244,12.905828,5.447050,0.198294,6.656361,5.810207e+07,2.762878e+07,1.971897e+07,1.371198e+07,5.971315e+04,2.251646e+07,1.494679e+08,38.795309,2.877043,1.707534,11.036247,14.754797,23.210021,7.773987,5.760167e+07,2.232835e+07,6.404067e+06,1.705561e+07,1.305869e+07,2.001037e+07,1.333517e+07
std,117555.043407,4.990451e+08,30.155077,12.889580,17.473845,12.057034,2.456254,10.528392,1.328847e+08,1.125008e+08,1.098989e+08,1.038566e+08,2.759090e+06,1.217377e+08,4.417075e+08,12.519222,7.266436,4.163060,8.577874,9.673093,13.474402,12.024951,1.706227e+08,1.180601e+08,3.775989e+07,6.116066e+07,2.641939e+07,5.024094e+07,7.338291e+07
min,100654.000000,3.301600e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,157412.500000,9.316430e+06,32.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.517664e+06,0.000000e+00,1.775469e+05,0.000000e+00,0.000000e+00,0.000000e+00,8.869112e+06,31.000000,0.000000,0.000000,6.000000,7.000000,14.000000,0.000000,2.993340e+06,0.000000e+00,0.000000e+00,7.643321e+05,9.782475e+05,2.241165e+06,0.000000e+00
50%,200306.000000,3.289078e+07,59.000000,2.000000,6.000000,2.000000,0.000000,3.000000,1.701922e+07,9.608555e+05,2.088633e+06,7.010521e+05,0.000000e+00,9.233876e+05,3.381630e+07,39.000000,0.000000,0.000000,10.000000,13.000000,21.000000,1.000000,1.275488e+07,0.000000e+00,0.000000e+00,2.936411e+06,5.377247e+06,7.126933e+06,1.367810e+05
75%,239415.500000,1.035964e+08,85.000000,16.000000,17.000000,6.000000,0.000000,8.000000,5.049367e+07,1.045950e+07,6.920550e+06,3.653437e+06,0.000000e+00,5.631486e+06,9.846859e+07,47.000000,1.000000,2.000000,13.000000,21.000000,29.000000,12.000000,4.194509e+07,8.952280e+05,9.801158e+05,1.060788e+07,1.407034e+07,1.790091e+07,5.361996e+06
max,494807.000000,8.257036e+09,367.000000,98.000000,131.000000,332.000000,85.000000,100.000000,2.051650e+09,3.137674e+09,3.302814e+09,2.754170e+09,1.463057e+08,3.214252e+09,6.894039e+09,100.000000,71.000000,53.000000,79.000000,87.000000,99.000000,100.000000,2.955601e+09,3.212136e+09,8.867553e+08,1.533947e+09,4.165172e+08,9.696544e+08,2.826556e+09

## Staff Diversity

<ol>
    <li>All expressed as percentages</li>
    <li>Split between Black, White, Hispanic/Latino, Asian, Other</li>
</ol>

In [34]:
staff_df = numeric_df.loc[:,numeric_df.columns[0:30]]

staff_df.head()

,Grand total (S2019_IS All instructional staff),Grand total men (S2019_IS All instructional staff),Grand total women (S2019_IS All instructional staff),American Indian or Alaska Native total (S2019_IS All instructional staff),American Indian or Alaska Native men (S2019_IS All instructional staff),American Indian or Alaska Native women (S2019_IS All instructional staff),Asian total (S2019_IS All instructional staff),Asian men (S2019_IS All instructional staff),Asian women (S2019_IS All instructional staff),Black or African American total (S2019_IS All instructional staff),Black or African American men (S2019_IS All instructional staff),Black or African American women (S2019_IS All instructional staff),Hispanic or Latino total (S2019_IS All instructional staff),Hispanic or Latino men (S2019_IS All instructional staff),Hispanic or Latino women (S2019_IS All instructional staff),Native Hawaiian or Other Pacific Islander total (S2019_IS All instructional staff),Native Hawaiian or Other Pacific Islander men (S2019_IS All instructional staff),Native Hawaiian or Other Pacific Islander women (S2019_IS All instructional staff),White total (S2019_IS All instructional staff),White men (S2019_IS All instructional staff),White women (S2019_IS All instructional staff),Two or more races total (S2019_IS All instructional staff),Two or more races men (S2019_IS All instructional staff),Two or more races women (S2019_IS All instructional staff),Race/ethnicity unknown total (S2019_IS All instructional staff),Race/ethnicity unknown men (S2019_IS All instructional staff),Race/ethnicity unknown women (S2019_IS All instructional staff),Nonresident alien total (S2019_IS All instructional staff),Nonresident alien men (S2019_IS All instructional staff),Nonresident alien women (S2019_IS All instructional staff)
UnitID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
177834,246.0,117.0,129.0,0.0,0.0,0.0,28.0,17.0,11.0,4.0,2.0,2.0,9.0,3.0,6.0,0.0,0.0,0.0,195.0,93.0,102.0,5.0,1.0,4.0,5.0,1.0,4.0,0.0,0.0,0.0
180203,13.0,7.0,6.0,8.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
222178,265.0,154.0,111.0,1.0,1.0,0.0,3.0,2.0,1.0,14.0,7.0,7.0,13.0,8.0,5.0,0.0,0.0,0.0,228.0,131.0,97.0,3.0,2.0,1.0,0.0,0.0,0.0,3.0,3.0,0.0
138558,149.0,77.0,72.0,0.0,0.0,0.0,10.0,5.0,5.0,10.0,7.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,124.0,62.0,62.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
488031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#make column names shorter
staff_df_col_names = []
for i in staff_df.columns:
    if "Unit" not in i: 
        col_name = i.replace(i[-36:], " instructional_staff")
    else:
        col_name = i
    
    staff_df_col_names.append(col_name)

staff_df_col_names

staff_df.columns = staff_df_col_names

staff_df.dropna(subset=[staff_df.columns[0]], inplace=True)

staff_df.reset_index(inplace=True)

## We Want to turn staff into percentages without dividing by 0

In [36]:
staff_df[staff_df[staff_df.columns[1]] == 0]
# none of these values are 0

Empty DataFrame
Columns: [UnitID, Grand total instructional_staff, Grand total men instructional_staff, Grand total women instructional_staff, American Indian or Alaska Native total instructional_staff, American Indian or Alaska Native men instructional_staff, American Indian or Alaska Native women instructional_staff, Asian total instructional_staff, Asian men instructional_staff, Asian women instructional_staff, Black or African American total instructional_staff, Black or African American men instructional_staff, Black or African American women instructional_staff, Hispanic or Latino total instructional_staff, Hispanic or Latino men instructional_staff, Hispanic or Latino women instructional_staff, Native Hawaiian or Other Pacific Islander total instructional_staff, Native Hawaiian or Other Pacific Islander men instructional_staff, Native Hawaiian or Other Pacific Islander women instructional_staff, White total instructional_staff, White men instructional_staff, White women instructional_staff, Two or more races total instructional_staff, Two or more races men instructional_staff, Two or more races women instructional_staff, Race/ethnicity unknown total instructional_staff, Race/ethnicity unknown men instructional_staff, Race/ethnicity unknown women instructional_staff, Nonresident alien total instructional_staff, Nonresident alien men instructional_staff, Nonresident alien women instructional_staff]
Index: []

In [37]:
#turn staff into a percentages

for i in staff_df.columns[2:]:
    col_name = i + "_as_percentage"
    staff_df[col_name] = (staff_df[i] / staff_df[staff_df.columns[1]]) * 100

In [38]:
staff_df = staff_df.round(2)

staff_df.head()
np.where(np.isinf(staff_df))

(array([], dtype=int64), array([], dtype=int64))

In [39]:
staff_df.head()

,UnitID,Grand total instructional_staff,Grand total men instructional_staff,Grand total women instructional_staff,American Indian or Alaska Native total instructional_staff,American Indian or Alaska Native men instructional_staff,American Indian or Alaska Native women instructional_staff,Asian total instructional_staff,Asian men instructional_staff,Asian women instructional_staff,Black or African American total instructional_staff,Black or African American men instructional_staff,Black or African American women instructional_staff,Hispanic or Latino total instructional_staff,Hispanic or Latino men instructional_staff,Hispanic or Latino women instructional_staff,Native Hawaiian or Other Pacific Islander total instructional_staff,Native Hawaiian or Other Pacific Islander men instructional_staff,Native Hawaiian or Other Pacific Islander women instructional_staff,White total instructional_staff,White men instructional_staff,White women instructional_staff,Two or more races total instructional_staff,Two or more races men instructional_staff,Two or more races women instructional_staff,Race/ethnicity unknown total instructional_staff,Race/ethnicity unknown men instructional_staff,Race/ethnicity unknown women instructional_staff,Nonresident alien total instructional_staff,Nonresident alien men instructional_staff,Nonresident alien women instructional_staff,Grand total men instructional_staff_as_percentage,Grand total women instructional_staff_as_percentage,American Indian or Alaska Native total instructional_staff_as_percentage,American Indian or Alaska Native men instructional_staff_as_percentage,American Indian or Alaska Native women instructional_staff_as_percentage,Asian total instructional_staff_as_percentage,Asian men instructional_staff_as_percentage,Asian women instructional_staff_as_percentage,Black or African American total instructional_staff_as_percentage,Black or African American men instructional_staff_as_percentage,Black or African American women instructional_staff_as_percentage,Hispanic or Latino total instructional_staff_as_percentage,Hispanic or Latino men instructional_staff_as_percentage,Hispanic or Latino women instructional_staff_as_percentage,Native Hawaiian or Other Pacific Islander total instructional_staff_as_percentage,Native Hawaiian or Other Pacific Islander men instructional_staff_as_percentage,Native Hawaiian or Other Pacific Islander women instructional_staff_as_percentage,White total instructional_staff_as_percentage,White men instructional_staff_as_percentage,White women instructional_staff_as_percentage,Two or more races total instructional_staff_as_percentage,Two or more races men instructional_staff_as_percentage,Two or more races women instructional_staff_as_percentage,Race/ethnicity unknown total instructional_staff_as_percentage,Race/ethnicity unknown men instructional_staff_as_percentage,Race/ethnicity unknown women instructional_staff_as_percentage,Nonresident alien total instructional_staff_as_percentage,Nonresident alien men instructional_staff_as_percentage,Nonresident alien women instructional_staff_as_percentage
0,177834,246.0,117.0,129.0,0.0,0.0,0.0,28.0,17.0,11.0,4.0,2.0,2.0,9.0,3.0,6.0,0.0,0.0,0.0,195.0,93.0,102.0,5.0,1.0,4.0,5.0,1.0,4.0,0.0,0.0,0.0,47.56,52.44,0.00,0.00,0.00,11.38,6.91,4.47,1.63,0.81,0.81,3.66,1.22,2.44,0.00,0.00,0.00,79.27,37.80,41.46,2.03,0.41,1.63,2.03,0.41,1.63,0.00,0.00,0.00
1,180203,13.0,7.0,6.0,8.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.85,46.15,61.54,30.77,30.77,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,38.46,23.08,15.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,222178,265.0,154.0,111.0,1.0,1.0,0.0,3.0,2.0,1.0,14.0,7.0,7.0,13.0,8.0,5.0,0.0,0.0,0.0,228.0,131.0,97.0,3.0,2.0,1.0,0.0,0.0,0.0,3.0,3.0,0.0,58.11,41.89,0.38,0.38,0.00,1.13,0.75,0.38,5.28,2.64,2.64,4.91,3.02,1.89,0.00,0.00,0.00,86.04,49.43,36.60,1.13,0.75,0.38,0.00,0.00,0.00,1.13,1.13,0.00
3,138558,149.0,77.0,72.0,0.0,0.0,0.0,10.0,5.0,5.0,10.0,7.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,124.0,62.0,62.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,51.68,48.32,0.00,0.00,0.00,6.71,3.36,3.36,6.71,4.70,2.01,2.01,1.34,0.67,0.00,0.00,0.00,83.22,41.61,41.61,0.00,0.00,0.00,0.67,0.67,0.00,0.67,0.00,0.67
4,108232,219.0,124.0,95.0,0.0,0.0,0.0,22.0,6.0,16.0,4.0,3.0,1.0,8.0,5.0,3.0,3.0,1.0,2.0,141.0,84.0,57.0,2.0,1.0,1.0,39.0,24.0,15.0,0.0,0.0,0.0,56.62,43.38,0.00,0.00,0.00,10.05,2.74,7.31,1.83,1.37,0.46,3.65,2.28,1.37,1.37,0.46,0.91,64.38,38.36,26.03,0.91,0.46,0.46,17.81,10.96,6.85,0.00,0.00,0.00

## Pell Grant Recipients

In [40]:
grant_df = numeric_df.loc[:,numeric_df.columns[30:32]].reset_index()

In [41]:
grant_df.head()

,UnitID,Percent of full-time first-time undergraduates awarded any financial aid (SFA1819),Percent of full-time first-time undergraduates awarded federal state local or institutional grant aid (SFA1819)
0,177834,NaN,NaN
1,180203,85.0,82.0
2,222178,100.0,100.0
3,138558,91.0,86.0
4,488031,67.0,56.0

## Cohort Diversity

In [42]:
cohort_diversity_df = numeric_df.loc[:,numeric_df.columns[77:88]].reset_index()

In [43]:
cohort_diversity_df.head()

,UnitID,Percent of total enrollment that are American Indian or Alaska Native (DRVEF2013_RV),Percent of total enrollment that are Asian/Native Hawaiian/Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Asian (DRVEF2013_RV),Percent of total enrollment that are Native Hawaiian or Other Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Black or African American (DRVEF2013_RV),Percent of total enrollment that are Hispanic/Latino (DRVEF2013_RV),Percent of total enrollment that are White (DRVEF2013_RV),Percent of total enrollment that are Race/ethnicity unknown (DRVEF2013_RV),Percent of total enrollment that are Nonresident Alien (DRVEF2013_RV),Percent of total enrollment that are two or more races (DRVEF2013_RV),Percent of total enrollment that are women (DRVEF2013_RV)
0,177834,1.0,13.0,13.0,0.0,5.0,5.0,65.0,5.0,3.0,3.0,55.0
1,180203,88.0,0.0,0.0,0.0,0.0,1.0,10.0,0.0,0.0,0.0,57.0
2,222178,0.0,1.0,1.0,0.0,8.0,11.0,69.0,2.0,4.0,3.0,58.0
3,138558,0.0,1.0,1.0,0.0,12.0,6.0,78.0,0.0,2.0,1.0,54.0
4,488031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Age and Size of cohort

In [44]:
age_df = numeric_df.loc[:,numeric_df.columns[90:96]]

age_df["Incoming_Class_Grand_Total"] = age_df.iloc[:,0] + age_df.iloc[:,1] + age_df.iloc[:,2] + age_df.iloc[:,3]

for i in age_df.columns[:-1]:
    
    col_name = i + "_as_percentage"
    age_df[col_name] = age_df[i] / age_df["Incoming_Class_Grand_Total"]

age_df = age_df.round(2)

In [45]:
age_df.head()

,Total women (EF2013B_RV Undergraduate Age under 25 total),Grand total (EF2013B_RV Undergraduate Age 25 and over total),Total men (EF2013B_RV Undergraduate Age 25 and over total),Total women (EF2013B_RV Undergraduate Age 25 and over total),Total price for in-district students living on campus 2012-13 (DRVIC2012_RV),Total price for in-state students living on campus 2012-13 (DRVIC2012_RV),Incoming_Class_Grand_Total,Total women (EF2013B_RV Undergraduate Age under 25 total)_as_percentage,Grand total (EF2013B_RV Undergraduate Age 25 and over total)_as_percentage,Total men (EF2013B_RV Undergraduate Age 25 and over total)_as_percentage,Total women (EF2013B_RV Undergraduate Age 25 and over total)_as_percentage,Total price for in-district students living on campus 2012-13 (DRVIC2012_RV)_as_percentage,Total price for in-state students living on campus 2012-13 (DRVIC2012_RV)_as_percentage
UnitID,,,,,,,,,,,,,
177834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180203,44.0,64.0,29.0,35.0,NaN,NaN,172.0,0.26,0.37,0.17,0.20,NaN,NaN
222178,2074.0,142.0,88.0,54.0,39900.0,39900.0,2358.0,0.88,0.06,0.04,0.02,16.92,16.92
138558,1488.0,517.0,163.0,354.0,16550.0,16550.0,2522.0,0.59,0.20,0.06,0.14,6.56,6.56
488031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Price

In [46]:
price_df = numeric_df.loc[:,numeric_df.columns[96:103]].reset_index()

In [47]:
price_df

,UnitID,Total price for out-of-state students living on campus 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (with family) 2012-13 (DRVIC2012_RV)
0,177834,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,180203,NaN,17030.0,17030.0,17030.0,8510.0,8510.0,8510.0
2,222178,39900.0,39900.0,39900.0,39900.0,31250.0,31250.0,31250.0
3,138558,22684.0,12619.0,12619.0,18753.0,7009.0,7009.0,13143.0
4,488031,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2841,217059,28820.0,29220.0,29220.0,29220.0,19920.0,19920.0,19920.0
2842,141361,34093.0,34559.0,34559.0,34559.0,28259.0,28259.0,28259.0
2843,206695,20580.0,22694.0,22694.0,22904.0,12739.0,12739.0,12949.0
2844,204255,NaN,15610.0,15610.0,19990.0,11097.0,11097.0,15477.0
2845,458575,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Student Faculty Ratio

In [48]:
student_faculty = numeric_df.loc[:,numeric_df.columns[103]].reset_index()

student_faculty.head()

   UnitID  Student-to-faculty ratio (EF2019D)
0  177834                                 NaN
1  180203                                10.0
2  222178                                15.0
3  138558                                17.0
4  488031                                 3.0

## SAT Scores

In [49]:
test_scores = numeric_df.loc[:,numeric_df.columns[104:]].reset_index()

test_scores.drop(test_scores.columns[5:], axis = 1, inplace=True)

test_scores.drop(test_scores.columns[3], axis=1, inplace=True)

In [50]:
for i in test_scores.columns:
    if "Unit" not in i:
        col_name = i + "_isNaN"
        test_scores[col_name] = test_scores[i].isna() * 1

In [51]:
test_scores.head()

,UnitID,SAT Critical Reading 75th percentile score (IC2012_RV),SAT Math 75th percentile score (IC2012_RV),ACT Composite 75th percentile score (IC2012_RV),SAT Critical Reading 75th percentile score (IC2012_RV)_isNaN,SAT Math 75th percentile score (IC2012_RV)_isNaN,ACT Composite 75th percentile score (IC2012_RV)_isNaN
0,177834,NaN,NaN,NaN,1,1,1
1,180203,NaN,NaN,NaN,1,1,1
2,222178,600.0,600.0,27.0,0,0,0
3,138558,420.0,410.0,17.0,0,0,0
4,488031,NaN,NaN,NaN,1,1,1

# Merging all cleaned dataframes on UnitId

In [52]:
cleaned_df_list = [ 
    institution_names_df, finances_df, staff_df, grant_df, 
    cohort_diversity_df, age_df, price_df, student_faculty, 
    test_scores, categorical_df, dependent_df
]

cleaned_df = reduce(lambda x, y: pd.merge(x, y, on='UnitID', how="outer"), cleaned_df_list)

In [53]:
cleaned_df.shape

(2846, 152)

In [54]:
#drop where total graduation rate is missing
cleaned_df.dropna(subset=[dependent_df.columns[0]], inplace=True)

In [55]:
cleaned_df.head()

,UnitID,Institution Name,Core_Revenues,Tuition_And_Fees,Government_Grants,Private_Gifts,Investment_Return,Sales_And_Services,Other_Revenues,Tuition_And_Fees_As_Dollar_Amount,Government_Grants_As_Dollar_Amount,Private_Gifts_As_Dollar_Amount,Investment_Return_As_Dollar_Amount,Sales_And_Services_As_Dollar_Amount,Other_Revenues_As_Dollar_Amount,Core_Expenses,Instruction_Expenses,Research_Expenses,Public_Service_Expenses,Academic_Support_Expenses,Student_Service_Expenses,Institutional_Support_Expenses,Other_Core_Expenses,Instruction_Expenses_As_Dollar_Amount,Research_Expenses_As_Dollar_Amount,Public_Service_Expenses_As_Dollar_Amount,Academic_Support_Expenses_As_Dollar_Amount,Student_Service_Expenses_As_Dollar_Amount,Institutional_Support_Expenses_As_Dollar_Amount,Other_Core_Expenses_As_Dollar_Amount,Grand total instructional_staff,Grand total men instructional_staff,Grand total women instructional_staff,American Indian or Alaska Native total instructional_staff,American Indian or Alaska Native men instructional_staff,American Indian or Alaska Native women instructional_staff,Asian total instructional_staff,Asian men instructional_staff,Asian women instructional_staff,Black or African American total instructional_staff,Black or African American men instructional_staff,Black or African American women instructional_staff,Hispanic or Latino total instructional_staff,Hispanic or Latino men instructional_staff,Hispanic or Latino women instructional_staff,Native Hawaiian or Other Pacific Islander total instructional_staff,Native Hawaiian or Other Pacific Islander men instructional_staff,Native Hawaiian or Other Pacific Islander women instructional_staff,White total instructional_staff,White men instructional_staff,White women instructional_staff,Two or more races total instructional_staff,Two or more races men instructional_staff,Two or more races women instructional_staff,Race/ethnicity unknown total instructional_staff,Race/ethnicity unknown men instructional_staff,Race/ethnicity unknown women instructional_staff,Nonresident alien total instructional_staff,Nonresident alien men instructional_staff,Nonresident alien women instructional_staff,Grand total men instructional_staff_as_percentage,Grand total women instructional_staff_as_percentage,American Indian or Alaska Native total instructional_staff_as_percentage,American Indian or Alaska Native men instructional_staff_as_percentage,American Indian or Alaska Native women instructional_staff_as_percentage,Asian total instructional_staff_as_percentage,Asian men instructional_staff_as_percentage,Asian women instructional_staff_as_percentage,Black or African American total instructional_staff_as_percentage,Black or African American men instructional_staff_as_percentage,Black or African American women instructional_staff_as_percentage,Hispanic or Latino total instructional_staff_as_percentage,Hispanic or Latino men instructional_staff_as_percentage,Hispanic or Latino women instructional_staff_as_percentage,Native Hawaiian or Other Pacific Islander total instructional_staff_as_percentage,Native Hawaiian or Other Pacific Islander men instructional_staff_as_percentage,Native Hawaiian or Other Pacific Islander women instructional_staff_as_percentage,White total instructional_staff_as_percentage,White men instructional_staff_as_percentage,White women instructional_staff_as_percentage,Two or more races total instructional_staff_as_percentage,Two or more races men instructional_staff_as_percentage,Two or more races women instructional_staff_as_percentage,Race/ethnicity unknown total instructional_staff_as_percentage,Race/ethnicity unknown men instructional_staff_as_percentage,Race/ethnicity unknown women instructional_staff_as_percentage,Nonresident alien total instructional_staff_as_percentage,Nonresident alien men instructional_staff_as_percentage,Nonresident alien women instructional_staff_as_percentage,Percent of full-time first-time undergraduates awarded any financial aid (SFA1819),Percent of full-time first-time undergraduates awarded federal state local or institutional grant aid (SFA1819),Percent of total enrollment that are American Indian or Alaska Native (DRVEF2013_RV),Percent of total enrollment that are Asian/Native Hawaiian/Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Asian (DRVEF2013_RV),Percent of total enrollment that are Native Hawaiian or Other Pacific Islander (DRVEF2013_RV),Percent of total enrollment that are Black or African American (DRVEF2013_RV),Percent of total enrollment that are Hispanic/Latino (DRVEF2013_RV),Percent of total enrollment that are White (DRVEF2013_RV),Percent of total enrollment that are Race/ethnicity unknown (DRVEF2013_RV),Percent of total enrollment that are Nonresident Alien (DRVEF2013_RV),Percent of total enrollment that are two or more races (DRVEF2013_RV),Percent of total enrollment that are women (DRVEF2013_RV),Total women (EF2013B_RV Undergraduate Age under 25 total),Grand total (EF2013B_RV Undergraduate Age 25 and over total),Total men (EF2013B_RV Undergraduate Age 25 and over total),Total women (EF2013B_RV Undergraduate Age 25 and over total),Total price for in-district students living on campus 2012-13 (DRVIC2012_RV),Total price for in-state students living on campus 2012-13 (DRVIC2012_RV),Incoming_Class_Grand_Total,Total women (EF2013B_RV Undergraduate Age under 25 total)_as_percentage,Grand total (EF2013B_RV Undergraduate Age 25 and over total)_as_percentage,Total men (EF2013B_RV Undergraduate Age 25 and over total)_as_percentage,Total women (EF2013B_RV Undergraduate Age 25 and over total)_as_percentage,Total price for in-district students living on campus 2012-13 (DRVIC2012_RV)_as_percentage,Total price for in-state students living on campus 2012-13 (DRVIC2012_RV)_as_percentage,Total price for out-of-state students living on campus 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (not with family) 2012-13 (DRVIC2012_RV),Total price for in-district students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for in-state students living off campus (with family) 2012-13 (DRVIC2012_RV),Total price for out-of-state students living off campus (with family) 2012-13 (DRVIC2012_RV),Student-to-faculty ratio (EF2019D),SAT Critical Reading 75th percentile score (IC2012_RV),SAT Math 75th percentile score (IC2012_RV),ACT Composite 75th percentile score (IC2012_RV),SAT Critical Reading 75th percentile score (IC2012_RV)_isNaN,SAT Math 75th percentile score (IC2012_RV)_isNaN,ACT Composite 75th percentile score (IC2012_RV)_isNaN,Carnegie Classification 2018: Basic (HD2018),Carnegie Classification 2018: Enrollment Profile (HD2018),Carnegie Classification 2018: Size and Setting (HD2018),Historically Black College or University (HD2018),Institution size category (HD2018),Parent/child indicator - Finance (FLAGS2019),Sector of institution (HD2018),State abbreviation (HD2018),City location of institution (HD2019),Graduation rate total cohort (DRVGR2019),Graduation rate men (DRVGR2019),Graduation rate women (DRVGR2019),Graduation rate American Indian or Alaska Native (DRVGR2019),Graduation rate Asian/Native Hawaiian/Other Pacific Islander (DRVGR2019),Graduation rate Asian (DRVGR2019),Graduation rate Native Hawaiian or Other Pacific Islander (DRVGR2019),Graduation rate Black non-Hispanic (DRVGR2019),Graduation rate Hispanic (DRVGR2019),Graduation rate White non-Hispanic (DRVGR2019),Graduation rate two or more races (DRVGR2019),Graduation rate Race/ethnicity unknown (DRVGR2019),Graduation rate Nonresident alien (DRVGR2019),Transfer-out rate total cohort (DRVGR2019)
1,180203,Aaniiih Nakoda College,7078959.0,2.0,60.0,7.0,1.0,0.0,29.0,1.415792e+05,4247375.40,495527.13,70789.59,0.0,2052898.11,7294344.0,29.0,3.0,7.0,3.0,8.0,16.0,36.0,2.115360e+06,218830.32,510604.08,218830.32,583547.52,1167095.04,2625963.84,13.0,7.0,6.0,8.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.85,46.15,61.54,30.77,30.77,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,38.46,23.08,15.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,85.0,82.0,88.0,0.0,0.0,0.0,0.0,1.0,10.0,0.0,0.0,0.0,57.0,44.0,64.0,29.0,35.0,NaN,NaN,172.0,0.26,0.37,0.17,0.20,NaN,NaN,NaN,17030.0,17030.0,17030.0,8510.0,8510.0,8510.0,10.0,NaN,NaN,NaN,1,1,1,Tribal Colleges,Exclusively undergraduate two-year,"Two-year, very small",No,"Under 1,000",Not applicable,"Public, 2-year",Montana,Harlem,29.0,13.0,46.0,26.0,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN,NaN
2,222178,Abilene Christian University,136379482.0,57.0,4.0,17.0,18.0,0.0,4.0,7.773630e+07,5455179.28,23184511.94,24548306.76,0.0,5455179.28,121513039.0,38.0,1.0,2.0,10.0,26.0,24.0,0.0,4.617495e+07,1215130.39,2430260.78,12151303.90,31593390.14,29163129.36,0.00,265.0,154.0,111.0,1.0,1.0,0.0,3.0,2.0,1.0,14.0,7.0,7.0,13.0,8.0,5.0,0.0,0.0,0.0,228.0,131.0,97.0,3.0,2.0,1.0,0.0,0.0,0.0,3.0,3.0,0.0,58.11,41.89,0.38,0.38,0.00,1.13,0.75,0.38,5.28,2.64,2.64,4.91,3.02,1.89,0.00,0.00,0.00,86.04,49.43,36.60,1.13,0.75,0.38,0.00,0.00,0.00,1.13,1.13,0.00,100.0,100.0,0.0,1.0,1.0,0.0,8.0,11.0,69.0,2.0,4.0,3.0,58.0,2074.0,142.0,88.0,54.0,39900.0,39900.0,2358.0,0.88,0.06,0.04,0.02,16.92,16.92,39900.0,39900.0,39900.0,39900.0,31250.0,31250.0,31250.0,15.0,600.0,600.0,27.0,0,0,0,Master's Colleges & Universities: Larger Programs,High undergraduate,"Four-year, medium, highly residential",No,"5,000 - 9,999",Not applicable,"Private not-for-profit, 4-year or above",Texas,Abilene,61.0,56.0,65.0,25.0,58.0,58.0,NaN,53.0,50.0,67.0,54.0,0.0,57.0,NaN
3,138558,Abraham Baldwin Agricultural College,70491879.0,17.0,17.0,2.0,0.0,0.0,28.0,1.198362e+07,11983619.43,1409837.58,0.00,0.0,19737726.12,50201124.0,42.0,0.0,3.0,15.0,9.0,19.0,13.0,2.108447e+07,0.00,1506033.72,7530168.60,4518101.16,9538213.56,6526146.12,149.0,77.0,72.0,0.0,0.0,0.0,10.0,5.0,5.0,10.0,7.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,124.0,62.0,62.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,51.68,48.32,0.00,0.00,0.00,6.71,3.36,3.36,6.71,4.70,2.01,2.01,1.34,0.67,0.00,0.00,0.00,83.22,41.61,41.61,0.00,0.00,0.00,0.67,0.67,0.00,0.67,0.00,0.67,91.0,86.0,0.0,1.0,1.0,0.0,12.0,6.0,78.0,0.0,2.0,1.0,54.0,1488.0,517.0,163.0,354.0,16550.0,16550.0,2522.0,0.59,0.20,0.06,0.14,6.56,6.56,22684.0,12619.0,12619.0,18753.0,7009.0,7009.0,13143.0,17.0,420.0,410.0,17.0,0,0,0,Baccalaureate/Associate's Colleges: Mixed Bacc...,Exclusively undergraduate four-year,"Four-year, small, primarily residential",No,"1,000 - 4,999",Not applicable,"Public, 4-year or above",Georgia,Tifton,26.0,28.0,25.0,33.0,25.0,25.0,NaN,12.0,32.0,29.0,20.0,100.0,33.0,39.0
5,172866,Academy College,3019292.0,100.0,0.0,0.0,0.0,0.0,0.0,3.019292e+06,0.00,0.00,0.00,0.0,0.00,2767687.0,13.0,0.0,0.0,36.0,11.0,4.0,37.0,3.597993e+05,0.00,0.00,996367.32,304445.57,110707.48,1024044.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,1.0,9.0,9.0,1.0,14.0,1.0,70.0,3.0,0.0,1.0,21.0,10.0,101.0,81.0,20.0,NaN,NaN,212.0,0.05,0.48,0.38,0.09,NaN,NaN,NaN,31504.0,31504.0,31504.0,24304.0,24304.0,24304.0,9.0,NaN,NaN,NaN,1,1,1,Special Focus Four-Year: Other Technology-Rela...,Exclusively undergraduate four-year,"Four-year, very small, primarily nonresidential",No,"Under 1,000",Not applicable,"Private for-profit, 4-year or above",Minnesota,Bloomington,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
8,108232,Academy of Art University,217471648.0,100.0,0.0,0.0,0.0,0.0,0.0,2.174716e+08,0.00,0.00,0.00,0.0,0.00,211573114.0,52.0,0.0,0.0,0.0,19.0,15.0,14.0,1.100180e+08,0.00,0.00,0.00,40198891.66,31735967.10,29620235.96,219.0,124.0,95.0,0.0,0.0,0.0,22.0,6.0,16.0,4.0,3.0,1.0,8.0,5.0,3.0,3.0,1.0,2.0,141.0,84.0,57.0,2.0,1.0,1.0,39.0,24.0,15.0,0.0,0.0,0.0,56.62,43.38,0.00,0.00,0.00,10.05,2.74,7.31,1.83,1.37,0.46,3.65,2.28,1.37,1.37,0.46,0.91,64.38,38.36,26.03,0.91,0.46,0.46,17.81,10.96,6.85,0.00,0.00,0.00,59.0,49.0,0.0,7.0,7.0,0.0,6.0,8.0,25.0,20.0,31.0,2.0,58.0,3681.0,4248.0,2034.0,2214.0,36884.0,36884.0,12177.0,0.30,0.35,0.17,0.18,3.03,3.03,36884.0,35436.0,35436.0,35436.0,24592.0,24592.0,24592.0,14.0,NaN,NaN,NaN,1,1,1,Master's Colleges & Universities: Larger Programs,Majority undergraduate,"Four-year, medium, primarily nonresidential",No,"10,000 - 19,999",Not applicable,"Private for-profit, 4-year or above",California,San Francisco,45.0,38.0,51.0,67.0,56.0,57.0,40.0,20.0,33.0,50.0,40.0,28.0,57.0,14.0

In [56]:
cleaned_df.to_csv("data/cleaned_df.csv")